{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags components %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'snippets/navbar-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/footer-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/welcomebackmodel-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/contact-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/herosection-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/ourvision-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/ourvalues-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/ourjourney-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/ourgallery-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/ourtestimonial-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/coverimage-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/culture-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/onecolscrollersection-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/benifitsgrid-min.css' %}">
{% endblock extra_css %}

{% block content %}
    {% navbar %}
    {{page.body}}
    {% contact %}
    {% footer %}
    {% welcomebackmodel %}
{% endblock content %}

{% block extra_js%}
{% endblock extra_js%}