{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags components %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'snippets/navbargrey.css' %}">
<link rel="stylesheet" href="{% static 'snippets/footer.css' %}">
<link rel="stylesheet" href="{% static 'snippets/contact.css' %}">
<link rel="stylesheet" href="{% static 'blocks/herosection.css' %}">
<link rel="stylesheet" href="{% static 'blocks/ourvision.css' %}">
<link rel="stylesheet" href="{% static 'blocks/ourvalues.css' %}">
<link rel="stylesheet" href="{% static 'blocks/ourjourney.css' %}">
<link rel="stylesheet" href="{% static 'blocks/ourgallery.css' %}">
<link rel="stylesheet" href="{% static 'blocks/ourtestimonial.css' %}">
<link rel="stylesheet" href="{% static 'blocks/blogsherosection.css' %}">
<link rel="stylesheet" href="{% static 'blocks/blogswrapper.css' %}">
<link rel="stylesheet" href="{% static 'blocks/contactustestimonial.css' %}">
{% endblock extra_css %}

{% block content %}
    {% navbargrey %}
    {% contact %}
    {{page.body}}
    {% footer %}
{% endblock content %}

{% block extra_js%}
   
{% endblock extra_js%}