{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags components %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'snippets/navbar-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/services_megamenu.css' %}">
<link rel="stylesheet" href="{% static 'snippets/welcomebackmodel-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/footer-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/contact-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/csrherosection-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/textimage-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/empowering-min.css' %}">
<link rel="stylesheet" href="{%static 'blocks/cardscroller-min.css'%}">
<link rel="stylesheet" href="{%static 'blocks/engagment-min.css'%}">
<link rel="stylesheet" href="{%static 'blocks/services_whyreckonsys-min.css'%}">
<link rel="stylesheet" href="{%static 'blocks/ourprocess-min.css'%}">
<link rel="stylesheet" href="{%static 'blocks/oursuccess-min.css'%}">
<link rel="stylesheet" href="{%static 'blocks/ourmethodologies-min.css'%}">
<link rel="stylesheet" href="{% static 'blocks/badges-min.css' %}">

{% endblock extra_css %}

{% block content %}
    {% servicesmegamenu %}
    {% navbar %}
    {{page.body}}
    {% contact %}
    {% footer %}
    {% welcomebackmodel %}
{% endblock content %}

{% block extra_js%}
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="{% static 'blocks/js/cardscroller-min.js' %}" ></script>
{% endblock extra_js%}