{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'component_css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'component_css/herosection.css' %}">
<link rel="stylesheet" href="{% static 'component_css/homecontent.css' %}">
{% endblock extra_css %}

{% block content %}
{% include "components/navbar.html" %}
{% include "components/herosection.html" %}
{% include "components/homecontent.html"%}

{% endblock content %}