{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags components %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'snippets/navbar-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/welcomebackmodel-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/footer-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/herosection-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/hometestimonials-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/homeblogs-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/badges-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/rating-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/contact-min.css' %}">
<link rel="stylesheet" href="{% static 'component_css/homecontent-min.css' %}">
{% endblock extra_css %}

{% block content %}
    {% navbar %}
    {{page.herosection}}
    {% include "components/homecontent.html"%}
    {{page.body}}
    {% contact %}
    {% footer %}
    {% welcomebackmodel %}
{% endblock content %}

{% block extra_js%}
    <script src="{% static 'js/home-min.js' %}"></script>
{% endblock extra_js%}