{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags components %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'snippets/navbar.css' %}">
<link rel="stylesheet" href="{% static 'snippets/footer.css' %}">
<link rel="stylesheet" href="{% static 'snippets/contact.css' %}">
<link rel="stylesheet" href="{% static 'blocks/blogheader.css' %}">
<link rel="stylesheet" href="{% static 'blocks/blogbody.css' %}">
{% endblock extra_css %}

{% block content %}
    {% navbar %}
    {{page.blogheader}}
    {{page.blogbody}}
    {% contact %}
    {% footer %}
    {% welcomebackmodel %}
{% endblock content %}

{% block extra_js%}
{% endblock extra_js%}