{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags components %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'snippets/navbar-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/services_megamenu-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/technology_megamenu-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/welcomebackmodel-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/footer-min.css' %}">
<link rel="stylesheet" href="{% static 'snippets/contact-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/blogheader-min.css' %}">
<link rel="stylesheet" href="{% static 'blocks/blogbody-min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
{% endblock extra_css %}

{% block content %}
    {% technologymegamenu %}
    {% servicesmegamenu %}
    {% navbar %}
    {{page.blogheader}}
    {{page.blogbody}}
    {% contact %}
    {% footer %}
    {% welcomebackmodel %}
{% endblock content %}

{% block extra_js%}
{% endblock extra_js%}