  {%load wagtailimages_tags%}
   {% load wagtailcore_tags %}
<section>
        <div class="sidebar pt-20">
            <h5 class="t-20">{{page.businesshelped_sidetitle}}</h5>
        </div>
        <!-- services offer to section starts -->
        <div class="servicesto-section pl-54 pr-54 w-container">
            <h4 class="mb-20 ft-20 elementanim">{{page.businesshelped_title}}</h4>
            <h2 class="mb-46 w-60 elementanim">{{page.businesshelped_subtitle|richtext}}</h2>
            <div class="sector-card-group-wrapper">
                <div class="sector-card-group">
                {% for business_helped_card in page.cardbusinesshelped%}
                    <div class="sector-card elementanim">
                        <div class="sector-card-content">
                            <div class="sector-card-header">
                                <h3 >{{business_helped_card.title}}</h3>    
                            </div>
                            <ul>
                                <li>
                                    {% image business_helped_card.pointer_icon max-3000x1500%}
                                    <p class="ft-16">
                                    {{business_helped_card.point1}}
                                    </p>
                                </li>
                                <li>
                                    {% image business_helped_card.pointer_icon max-3000x1500%}
                                    <p class="ft-16">
                                    {{business_helped_card.point2}}
                                    </p>
                                </li>
                                <li>
                                    {% image business_helped_card.pointer_icon max-3000x1500%}
                                    <p class="ft-16">
                                    {{business_helped_card.point3}}
                                    </p>
                                </li>
                                <li>
                                    {% image business_helped_card.pointer_icon max-3000x1500%}
                                    <p class="ft-16">
                                    {{business_helped_card.point4}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="sector-card-footer">
                            {% image business_helped_card.footer_image_1 max-3000x1500%}
                            {% image business_helped_card.footer_image_2 max-3000x1500%}                                                                                     
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- services offer to section end -->
    </section>