  {%load wagtailimages_tags%}
   {% load wagtailcore_tags %}
<!-- Herosection starts -->
    <section>
        <div class="sidebar">
            <h5 class="t-20">{{page.servicesoffered_sidetitle}}</h5>
        </div>
        <!-- Accordians section as services starts -->
            <div class="accordians-section pl-54 pr-54 pt-100 pb-180 w-90">
                <h4 class="mb-20 ft-20 elementanim">
                    {{page.servicesoffered_title}}
                </h4>
                <h2 class="mb-72 elementanim">
                    {{page.servicesoffered_content|richtext}}
                </h2>
                <div class="accordians-wrapper">
                    {% for servicesoffered in page.offeredservices %}
                        <div class="custom-accordian elementanim">
                            <div class="header elementanim">
                                {% image servicesoffered.service_icon max-3000x1500 class="elementanim"%}
                                <div class="content">
                                    <div class="custom-question">
                                        <h4>
                                            {{servicesoffered.question}}
                                        </h4>
                                        {% image servicesoffered.plus_icon class='accordian-plus elementanim' max-3000x1500%}
                                    </div>
                                </div>
                            </div>
                             <div class="custom-answer">
                                    <p class="ft-16">
                                        {{servicesoffered.answer}}
                                    </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Accordians section as services Ends -->
        
    </section>
    <!-- Herosection Ends -->