{%load wagtailimages_tags%}
<section>
        <div class="sidebar pt-20">
            <h5 class="t-15">Testimonals</h5>
        </div>
        <!-- Services page testimonial starts -->
        <div class="services-testimonial-section pl-54 pt-100 pb-82 pr-54 ">
            <div class="testimonial-wrapper w-80">
                <div class="left">
                    {% image page.testimonial_avatar max-3000x1500%}
                </div>
                <div class="right">
                    <p class="ft-30 mb-64">
                        {{page.testimonial_content}}
                    </p>
                    <h4 class="ft-22 mb-8">{{page.testimonial_name}}</h4>
                    <h6 class="f-400">{{page.testimonial_designation}}</h6>
                </div>
            </div>
            
        </div>
        <!-- Services page testimonial Ends --> 
    </section>