.wellness-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wellness-main h4 {
    text-align: center;
  }
  .wellness-main h2 {
    text-align: center;
  }
  .wellness-main .wellness-card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .wellness-main .wellness-card-wrapper h2 {
    text-align: left !important;
  }
  .wellness-main .wellness-card-wrapper .wellness-card {
    flex-basis: 50%;
  }
  .wellness-main .wellness-card-wrapper .wellness-card:first-child {
    padding-right: 5.6rem;
    padding-bottom: 5.6rem;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
  }
  .wellness-main .wellness-card-wrapper .wellness-card:nth-child(2) {
    padding-left: 5.6rem;
    padding-bottom: 5.6rem;
  }
  .wellness-main .wellness-card-wrapper .wellness-card:nth-child(3) {
    padding-top: 5.6rem;
    padding-right: 5.6rem;
  }
  .wellness-main .wellness-card-wrapper .wellness-card:nth-child(4) {
    padding-top: 5.6rem;
    padding-left: 5.6rem;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }