.servicespage-wrapper .herosection{
    display: flex;
}

.servicespage-wrapper .herosection div.geometric-shapes {
    position: relative;
  }
  .servicespage-wrapper .herosection div.geometric-shapes .blog-geometric-connection {
    position: absolute;
    right: -20.4rem;
    top: -5rem;
  }
  .servicespage-wrapper .herosection div.geometric-shapes .blog-geometric-wave {
    position: absolute;
    top: 0rem;
    right: -5rem;
  }

 .servicespage-wrapper .carousel-section {
    display: flex;
    gap: 5rem;
  }
  .servicespage-wrapper .carousel-section .left {
    flex-basis: 55%;
    overflow-x: hidden;
  }
  .servicespage-wrapper .carousel-section .left .carousal-image-wrapper {
    display: flex;
    width: 300%;
    transition: transform 0.3s ease-in-out;
  }
  .servicespage-wrapper .carousel-section .left .carousal-image-wrapper .carousal-image {
    width: 33.33%;
  }
  .servicespage-wrapper .carousel-section .left .carousal-image-wrapper .carousal-image img {
    width: 100%;
    height: auto;
  }
  .servicespage-wrapper .carousel-section .right {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    flex-basis: 45%;
    overflow-x: hidden;
  }
  .servicespage-wrapper .carousel-section .right .carousal-content-container .carousal-content-wrapper {
    display: flex;
    gap: 3rem;
    width: 300%;
    transition: transform 0.3s ease-in-out;
  }
  .servicespage-wrapper .carousel-section .right .carousal-content-container .carousal-content-wrapper .carousal-content {
    width: 33.33%
  }
  .servicespage-wrapper .carousel-section .right .carousal-controls {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .servicespage-wrapper .carousel-section .right .carousal-controls .indicators-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .servicespage-wrapper .carousel-section .right .carousal-controls .indicators-wrapper .indicator {
    height: 0.4rem;
    width: 4.5rem;
    background-color: #333;
  }
  .servicespage-wrapper .carousel-section .right .carousal-controls .indicators-wrapper .indicator.active {
    width: 13rem;
    background-color: #C01111;
  }

  @media only screen and (max-width: 992px) {
    
    
  }
  @media only screen and (max-width: 768px) {
    
  }
  @media only screen and (max-width: 576px) {
    .servicespage-wrapper .herosection{
      padding-top: 6rem;
      padding-bottom: 2rem;
    }
    .servicespage-wrapper .herosection .w-90{
      width: 100%;
    }
    .servicespage-wrapper .herosection .w-90 h1{
      font-size: 3.8rem;
    }
    .servicespage-wrapper .herosection div.geometric-shapes {
      display: none;
    }
    .servicespage-wrapper .carousel-section {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      margin-left: 3.6rem;
      padding-bottom: 8rem;
    }
    .servicespage-wrapper .carousel-section .right .carousal-controls {
      display: none;
    }
    .servicespage-wrapper .carousel-section .right .carousal-content-container .carousal-content-container .carousal-content>h2{
       margin-bottom: 2rem !important;
    }
  }