.blogbody{
    display: flex;
    justify-content: space-between;
}

.blogbody .social-media-group{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.blogbody .social-media-group .round{
    display: flex;
    width: 4.2rem;
    height: 4.2rem;
    padding: 0.9rem;
    justify-content: center;
    align-items: center;
    border-radius: 6rem;
}

.blogbody .social-media-group .round.twitter{
    background: #1FAEFF;
}
.blogbody .social-media-group .round.linkedin{
    background: #1C859C;
}
.blogbody .social-media-group .round.facebook{
    background: #1234AB;
}
.blogbody .social-media-group .round.share{
    background: #333;
}

.blogbody .content{
    flex-basis: 55%;
}
.blogbody .content a{
    color: #F86638;
}
.blogbody .content h2{
   font-size: 3rem;
   margin-bottom: 1.8rem;
   line-height: 133%;
}

.blogbody .content h3{
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
    line-height: 133%;
 }

 .blogbody .content h4{
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
    line-height: 133%;
 }

 .blogbody .content p{
    margin-bottom: 2.4rem;
    width: 100%;
 }

 .blogbody .content ul{
    margin-bottom: 3.6rem;
 }

 .blogbody .content ul li{
    margin-bottom: 3.6rem;
    width: 100%;
    font-family: "Spline Sans";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 137%; /* 21.92px */
    margin-left: 2rem;
    margin-bottom: 2rem;
 }

 .blogbody .content ol{
    margin-bottom: 4.2rem;
 }

 .blogbody .content ol li{
    margin-bottom: 3.6rem;
    width: 100%;
    font-family: "Spline Sans";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 137%; /* 21.92px */
    margin-left: 2rem;
 }

 .blogbody .content ol li code{
    display: flex;
    width: 100%;
    margin-top: 1.8rem;
    margin-left: -2rem;
    padding: 2.8rem;
    gap: 22px;
    border-radius: 4px;
    background: #F2F2F2;
    color: #333;
    font-family: "Spline Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 137%; /* 21.92px */
 }

 .blogbody .content p code{
    display: flex;
    width: 100%;
    padding: 2.8rem;
    gap: 22px;
    border-radius: 4px;
    background: #F2F2F2;
    color: #333;
    font-family: "Spline Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 137%; /* 21.92px */
 }

.blogbody .author-profile{
    flex-basis: 30%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 1.8rem;
    position: sticky;
    top: 3rem;
}

.blogbody .author-profile .header{
   display: flex;
   gap: 1.6rem;
}

.blogbody .author-profile .header .avatar{
    width: 4.8rem;
    height: 4.8rem;  
    overflow: hidden; 
    border-radius: 5rem;
}

.blogbody .author-profile .header .avatar img{
    width: 100%;
    object-fit: contain;
    height: fit-content;  
    
}
@media only screen and (max-width: 992px) {
   
}
@media only screen and (max-width: 768px) {
  
}
@media only screen and (max-width: 576px) {
    .blogbody{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding-bottom: 8rem;
    }
    .blogbody .social-media-group{
        display: none;
    }
    .blogbody .author-profile{
        flex-basis: 30%;
        display: flex;
        height: fit-content;
        flex-direction: column;
        gap: 1.8rem;
        position: sticky;
        top: 3rem;
        margin-bottom: 10rem;
    }
    
}