.blog-section .blog-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
  }
  .blog-section .blog-cards-wrapper .blog-card {
    min-width: 39.2rem;
    width: 32vw;
    width: 30%;
    margin-bottom: 10rem;
    overflow: hidden;
  }
  .blog-section .blog-cards-wrapper .blog-card:hover {
    cursor: pointer;
  }

  .blog-section .blog-cards-wrapper .blog-card:hover .image-wrapper img{
    transform: scale(1.6);
  }

  .blog-section .blog-cards-wrapper .blog-card:hover .card-title{
    color:#D2112B;
  }

  .blog-section .blog-cards-wrapper .blog-card .image-wrapper{
    height: 22.1rem;
    overflow: hidden;
  }

  .blog-section .blog-cards-wrapper .blog-card .image-wrapper img {
    transition:all 0.4s ease;
    height: 22.1rem;
    width: auto;
    object-fit: cover;
  }

  .blog-section .blog-cards-wrapper .blog-card .card-title{
    font-weight: 500;
    font-size: 2.4rem;
  }
  .blog-section .blog-cards-wrapper .blog-card .card-category{
    font-weight: 500;
  }

  .blog-section .blog-cards-wrapper .blog-card p:first-of-type {
    color: #D2112B;
  }

  @media only screen and (max-width: 992px) {
    
    
  }
  @media only screen and (max-width: 768px) {
    
  }
  @media only screen and (max-width: 576px) {
    .blog-section{
      padding-top: 0rem;
    }
    .blog-section h2{
      margin-bottom: 4rem;
    }
    .blog-section .blog-cards-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 6rem;
    }
    .blog-section .blog-cards-wrapper .blog-card {
      margin-bottom: 0rem;
      overflow: hidden;
    }
    .blog-section .blog-cards-wrapper .blog-card .card-title{
      margin-bottom: 2rem;
    }
  }