.blogheader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
    padding-top: 12rem;
}
.blogheader .geometric-shapes{
   display: flex;
   flex-direction: column;
}

.blogheader .left .breadcrump{
    display: flex;
    align-items: center;

}

.blogheader .left .left-margin{
    margin-left: 10rem;
}

.blogheader .left .left-margin .tags-container{
    display: flex;
    gap: 1.6rem;
}
.blogheader .left .left-margin .tags-container .tag{
    background: rgba(175, 175, 175, 0.31);
    padding: 0.2rem 1rem;
}

.blogheader .left .left-margin .category-title-date .category-title{
    color: #D2112B;
    text-transform: uppercase;
}

.blogheader .left .left-margin .category-title-date .date{
    font-family: "Spline Sans";
    font-weight: 400;
}

.blogheader .left .left-margin .cover-image{
   width: 70rem;
   object-fit: contain;
   height: fit-content;
}

@media only screen and (max-width: 992px) {
   
}
@media only screen and (max-width: 768px) {
  
}
@media only screen and (max-width: 576px) {
    .blogheader-wrapper{
        overflow-x: auto !important;
    }
    .blogheader {
       padding-top: 6rem;
       padding-bottom: 0rem;
       margin-right: 3.6rem;
       margin-left: 3.6rem;
    }
    .blogheader .left {
        width: 100%;
    }

    .blogheader .geometric-shapes {
        display: none;
    }
    .blogheader .left .left-margin{
        margin-left: 0rem;
    }
    .blogheader .left .left-margin>h1{
        width: 100%;
        font-size: 3.8rem;
    }
    .blogheader .left .breadcrump{
        margin-bottom: 2rem;
    }
    .blogheader .left .left-margin .cover-image{
        width: 100%;
        object-fit: contain;
        height: fit-content;
     }
}