.engagment-section{
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.engagment-section .engagment-body .engagement-cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
  }
  .engagment-section .engagment-body .engagement-cards-wrapper .engagment-card {
    width: 38rem;
  }
  .engagment-section .engagment-body .engagement-cards-wrapper .engagment-card img {
    width: 100%;
    height: auto;
  }
  .engagment-section .engagment-body .engagement-cards-wrapper .engagment-card h4, .engagment-section .engagment-body .engagement-cards-wrapper .engagment-card p {
    padding-left: 2rem;
  }


  @media only screen and (max-width: 992px) {
    
  }
  @media only screen and (max-width: 768px) {
    .engagment-section h2 {
      width: 100%;
    }
    .engagment-section .engagment-body .engagement-cards-wrapper {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
  }
  @media only screen and (max-width: 576px) {
    .engagment-section {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
    .engagment-section h2{
      margin-bottom: 4rem;
    }
    .engagment-process-card-wrapper {
      display: flex;
      justify-content: space-between;
    }
    .engagment-process-card-wrapper .engagment-process-card {
      width: 28rem;
      display: none;
    }
    .engagment-process-card-wrapper .engagment-process-card:first-child {
      display: block;
    }
  }