.industrieswhychoose-wrapper {
    display: flex;
    width: 100%;
    gap: 8rem;
    padding-top: 12rem;
    margin-bottom: 12rem;
  }
  
  .industrieswhychoose-wrapper .image-wrapper {
    width: 40%;
  }
  
  .industrieswhychoose-wrapper .image-wrapper img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
  }
  
  .industrieswhychoose-wrapper .content {
    width: 50%;
    position: relative;
  }
  
  .industrieswhychoose-wrapper .content h2{
    font-size: 4rem !important;
  }
  
  .industrieswhychoose-wrapper .content h2 p{
    font-size: 4rem !important;
  }
  
  .industrieswhychoose-wrapper .content .decor-ring {
    position: absolute;
    bottom: 0;
    right: -12rem;
    opacity: 0.6;
  }
  
  .industrieswhychoose-wrapper .content .dash-decor {
    height: 0.6rem;
    width: 6.4rem;
    background: #ed7f5c;
    margin-bottom: 6.6rem;
  }
  @media only screen and (max-width: 992px) {
    .industrieswhychoose-wrapper {
      flex-direction: column;
      gap: 4rem;
    }
    .industrieswhychoose-wrapper .image-wrapper {
      width: 75%;
      margin: auto;
    }
    .industrieswhychoose-wrapper .content {
      width: 100%;
    }
    .industrieswhychoose-wrapper .content .dash-decor {
      margin-bottom: 2.6rem;
    }
  }
  @media only screen and (max-width: 576px) {
      .industrieswhychoose-wrapper .image-wrapper {
        width: 100%;
      }
      
    }
  