.career-main {
    display: flex;
  }
  .career-main .left {
    flex-basis: 40%;
  }
  .career-main .left .left-wrapper {
    position: sticky;
    top: 10rem;
  }
  .career-main .right {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
  }

  .career-main .right h2{
    background: linear-gradient(180deg, #EF7160 0%, #941209 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2rem;
    margin-bottom: 19rem;
  }

  @media only screen and (max-width: 992px) {
   
  }
  @media only screen and (max-width: 768px) {
    
  }
  @media only screen and (max-width: 576px) {
    .career-main {
      flex-direction: column;
      padding-bottom: 4rem;
    }
    .career-main .left {
      padding-bottom: 8rem;
    }
    .career-main .right img{
      height: 20rem;
      width: fit-content;
    }
    .career-main .right h2{
      background: linear-gradient(180deg, #EF7160 0%, #941209 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 2rem;
      margin-bottom: 6rem;
    }
  }