.life-at-reckonsys-main .gallery-container{
    overflow: hidden;
    width: 100%;
}

.life-at-reckonsys-main .gallery-container .gallery-wrapper{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    width: fit-content;
    flex-wrap: nowrap;
    animation: slideimages 30s linear infinite;
}

@keyframes slideimages{
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-50%);
    }
  }

.life-at-reckonsys-main .gallery-container .gallery-wrapper .image{
    height: 25rem;
    width: 39rem;
    object-fit: cover;
}


@media only screen and (max-width: 992px) {
   
}
@media only screen and (max-width: 768px) {
    
}
@media only screen and (max-width: 576px) {
  .life-at-reckonsys-main {
    padding-left: 0rem;
    padding-bottom: 8rem;
  }  
  .life-at-reckonsys-main .header{
    padding-left: 3.6rem;
  }
}