.life-at-reckonsys-main .gallery-container{
    overflow-x: scroll;
    width: 100%;
}

.life-at-reckonsys-main .gallery-container .gallery-wrapper{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.life-at-reckonsys-main .gallery-container .gallery-wrapper .image{
    height: 25rem;
    object-fit: cover;
}


@media only screen and (max-width: 992px) {
   
}
@media only screen and (max-width: 768px) {
    
}
@media only screen and (max-width: 576px) {
    
}