.our-journey-main .line-slider .slider-completion {
  position: absolute;
  top: -11.6rem;
  left: 90%;
}

.our-journey-main .our-journey-card-container{
  overflow-x: hidden;
  position: relative;
}

.our-journey-main .our-journey-card-container .our-journey-card-wrapper {
  display: flex;
  gap: 6rem;
  margin-bottom: 4rem;
  padding-top: 37vh;
}
.our-journey-main .our-journey-card-container .our-journey-card-wrapper .indicator-flag {
  position: absolute;
  bottom:23rem;
  left: 0;
  display: flex;
}
.our-journey-main .our-journey-card-container .our-journey-card-wrapper .line-slider {
  height: 5px;
  width: 100%;
  background-color: #493F3F;
  position: absolute;
  bottom: 23rem;
  left: 0;
  display: flex;
}

.our-journey-main .our-journey-card-container .our-journey-card-wrapper .line-slider .slider-marker {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 0;
  background: linear-gradient(180deg, #EF7160 0%, #941209 100%);
}

.our-journey-main .our-journey-card-container .our-journey-card-wrapper .our-journey-card-width{
  display: flex;
  gap: 6rem;
  margin-bottom: 4rem;
}
.our-journey-main .our-journey-card-container .our-journey-card-wrapper .our-journey-card-wrapper-content{
  position: absolute;
  top: 10vh;
  left:0;
  min-width: 60rem;
}
.our-journey-main .our-journey-card-container .our-journey-card-wrapper .our-journey-card {
  width: 36rem; 
  object-fit: cover;
}

.our-journey-main .our-journey-card-container .our-journey-card-wrapper .our-journey-card img{
  width: 36rem;
  margin-bottom: 9rem;
  object-fit: contain;
  height: fit-content;
}


@media only screen and (max-width: 992px) {
 
}
@media only screen and (max-width: 768px) {
  
}
@media only screen and (max-width: 576px) {
  .our-journey-main {
    padding-top: 8rem;
  }
  .our-journey-main .our-journey-card-container .our-journey-card-wrapper .our-journey-card-wrapper-content{
    min-width: 30rem;
  }
}
