.our-journey-main .line-slider {
    height: 5px;
    width: 100%;
    background-color: #493F3F;
    position: relative;
    top: 24rem;
  }
  .our-journey-main .line-slider .slider-marker {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 70%;
    background: linear-gradient(180deg, #EF7160 0%, #941209 100%);
  }
  .our-journey-main .line-slider .slider-completion {
    position: absolute;
    top: -11.6rem;
    left: 90%;
  }

  .our-journey-main .our-journey-card-container{
    overflow-x: hidden;
    position: relative;
  }

  .our-journey-main .our-journey-card-container .our-journey-card-wrapper {
    display: flex;
    gap: 3rem;
    margin-bottom: 4rem;
  }
  .our-journey-main .our-journey-card-container .our-journey-card-wrapper .our-journey-card {
    width: 28rem;
    object-fit: cover;
  }