.our-methodologies-section{
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.our-methodologies {
  margin-top: 13rem;
  display: flex;
  gap: 10rem;
}
.our-methodologies .left .selector-group-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.our-methodologies .left .selector-group-container .selector-group {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s;
}
.our-methodologies .left .selector-group-container .selector-group.active {
  opacity: 1;
}
.our-methodologies
  .left
  .selector-group-container
  .selector-group
  .sector-icon {
  width: 3.6rem;
  height: fit-content;
}
.our-methodologies .right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 70%;
}
.our-methodologies .right .contentdisplay {
  gap: 3.8rem;
  display: none;
}
.our-methodologies .right .contentdisplay.active {
  display: flex;
}
.our-methodologies .right .contentdisplay .display-image {
  width: 42rem;
  height: fit-content;
}
@media (max-width: 992px) {
  .our-methodologies {
    flex-direction: column;
    gap: 5rem;
  }
  .our-methodologies .left .selector-group-container {
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
  }
  .our-methodologies .left .selector-group-container::-webkit-scrollbar {
    display: none;
  }
  .our-methodologies .left .selector-group-container .selector-group {
    align-items: center;
  }
  .our-methodologies .right .contentdisplay {
    gap: 3.8rem;
    display: none;
    flex-direction: column;
  }
  .our-methodologies .right .contentdisplay .display-image {
    width: 100%;
  }
}
