.ourservices-section .ourservices-sidebar{
  background-color: #f3f3f3;
}

.services-main {
  background-color: #333;
}
.services-main .software-services {
  padding-top: 12rem;
  padding-bottom: 12rem;
  display: flex;
  gap: 6rem;
  background-color: #f3f3f3;
}
.services-main .software-services .left {
  flex-basis: 35%;
  position: relative;
}
.services-main .software-services .left .software-services-content {
  position: sticky;
  top: 10rem;
  z-index: 100;
}

.services-main .software-services .left .software-services-content > h2 {
  margin-bottom: 2.4rem;
}

.services-main .software-services .left .software-services-geometric-shape {
  position: absolute;
  bottom: -9rem;
  left: -5.3rem;
}
.services-main .software-services .service-card-group {
  display: flex;
  flex-basis: 65%;
  gap: 1.6rem;
  flex-wrap: wrap;
}
.services-main .software-services .service-card-group .services-card {
  padding: 4.4rem 2.4rem 4.4rem 3.4rem;
  background-color: #fff;
  width: 48%;
}

@media only screen and (max-width: 992px) {
  .services-main .software-services {
    padding-top: 6rem;
    flex-direction: column;
  }
  .services-main .software-services .left .software-services-geometric-shape {
    display: none;
  }
  .services-main .software-services .service-card-group {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
  }
  .services-main .software-services .service-card-group .services-card {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
.services-main .software-services {
  padding-bottom: 10rem;
}
}