.ourwork-display{
    border-bottom: 1px solid #43494c;
}
.ourwork-display > .category-container{
    position: sticky;
    top: 0;
    background-color: #172125;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ourwork-display > .category-container > .category-wrapper {
    display: flex;
    gap: 4rem;
}

.ourwork-display > .category-container > .category-wrapper p{
    cursor: pointer;
}

.ourwork-display > .category-container > .category-wrapper p:hover{
    color: #f0493e !important;
}

.ourwork-display > .category-container > .category-wrapper p.active{
    color: #f0493e !important;
}
.ourwork-display .outline-btn-white {
    display: flex;
    margin: auto;
    width: 20rem;
    margin-top: 4rem;
}

.ourwork-display > .our-works-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9rem 0 12rem 5.5rem;
}
.ourwork-display > .our-works-card.none{
    display: none;
}
.ourwork-display > .our-works-card.active{
    display: flex;
}

.ourwork-display > .our-works-card.hidecard{
    display: none;
}

.ourwork-display > .our-works-card .image-wrapper{
    flex-basis: 45%;
}

.ourwork-display > .our-works-card .image-wrapper img{
    width: 100%;
    height: 43rem;
    object-fit: cover;
}

.ourwork-display > .our-works-card > .content{
    flex-basis: 50%;
}

.ourwork-display > .our-works-card > .content > .stats-group{
    display: flex;
    align-items: center;
    gap: 6rem;
}

@media only screen and (max-width: 992px) {
   
}
@media only screen and (max-width: 768px) {
    
}
@media only screen and (max-width: 576px) {
    .ourwork-display {
        padding-top: 4rem;
        padding-bottom: 8rem;
    }
    .ourwork-display > h2{
        width: 90%;
        margin-bottom: 2rem;
    }
    .ourwork-display > p{
        width: 90%;
        margin-bottom: 4rem;
    }
    .ourwork-display > .category-container{
        overflow-x: scroll;
        position: sticky;
        top: 0;
        background-color: #172125;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 6rem;
    }
    .ourwork-display > .our-works-card {
        flex-direction: column;
        gap: 4rem;
        padding: 6rem 0 6rem 4rem;
    }
    
    .ourwork-display > .our-works-card .image-wrapper{
        flex-basis: 45%;
    }
    
    .ourwork-display > .our-works-card .image-wrapper img{
        width: 100%;
        height: fit-content;
        object-fit: contain;
    }
    
    .ourwork-display > .our-works-card > .content{
        flex-basis: 50%;
    }
    .ourwork-display > .our-works-card > .content h2{
        margin-bottom: 2rem;
    }
    .ourwork-display > .our-works-card > .content>p{
        margin-bottom: 3rem;
    }
    .ourwork-display > .category-container > .category-wrapper p {
        cursor: pointer;
        white-space: nowrap;
    }
    .ourwork-display > .our-works-card > .content > .stats-group{
        display: flex;
        align-items: baseline;
        gap: 6rem;
    }
    .ourwork-display > .our-works-card > .content > .stats-group .stat{
        flex-basis: 50%;
    }
}