.ourwork-display > .category-container{
    overflow-x: scroll;
    position: sticky;
    top: 0;
    background-color: #172125;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ourwork-display > .category-container > .category-wrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.ourwork-display > .our-works-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9rem 0 12rem 5.5rem;
}

.ourwork-display > .our-works-card .image-wrapper{
    flex-basis: 45%;
}

.ourwork-display > .our-works-card .image-wrapper img{
    width: 100%;
    height: 43rem;
    object-fit: cover;
}

.ourwork-display > .our-works-card > .content{
    flex-basis: 50%;
}

.ourwork-display > .our-works-card > .content > .stats-group{
    display: flex;
    align-items: center;
    gap: 6rem;
}

@media only screen and (max-width: 992px) {
   
}
@media only screen and (max-width: 768px) {
    
}
@media only screen and (max-width: 576px) {
    .ourwork-display > .category-container{
        overflow-x: scroll;
        position: sticky;
        top: 0;
        background-color: #172125;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .ourwork-display > .our-works-card {
        flex-direction: column;
        gap: 6rem;
        padding: 9rem 0 12rem 5.5rem;
    }
    
    .ourwork-display > .our-works-card .image-wrapper{
        flex-basis: 45%;
    }
    
    .ourwork-display > .our-works-card .image-wrapper img{
        width: 100%;
        height: 43rem;
        object-fit: cover;
    }
    
    .ourwork-display > .our-works-card > .content{
        flex-basis: 50%;
    }
    
    .ourwork-display > .our-works-card > .content > .stats-group{
        display: flex;
        align-items: center;
        gap: 6rem;
    }
}