.testimonialgeneric-section {
    
    padding-bottom: 15rem;
  }
  .testimonialgeneric-section .testimonial-wrapper {
    border-top: 1px solid #544e4e;
    padding-top: 16rem;
    width: 100%;
    position: relative;
    display: flex;
    gap: 4.4rem;
  }
  .testimonialgeneric-section .testimonial-wrapper .geometric-image {
    position: absolute;
    top: 16rem;
    right: 20rem;
  }
  .testimonialgeneric-section .testimonial-wrapper .left {
    flex-basis: 35%;
    flex-shrink: 0;
  }
  .testimonialgeneric-section .testimonial-wrapper .left img {
    width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 992px) {
   
  }
  @media only screen and (max-width: 768px) {
      
  }
  @media only screen and (max-width: 576px) {
    .testimonialgeneric-section {
      
      padding-bottom: 8rem;
    }
    .testimonialgeneric-section .testimonial-wrapper {
      padding-top: 8rem;
      flex-direction: column;
    }
    .testimonialgeneric-section .testimonial-wrapper .right>p{
      font-size: 2.4rem;
    }
    .testimonialgeneric-section .testimonial-wrapper .right>h6{
      font-size: 1.6rem;
    }
  }