.thankyou-main{
    padding-bottom: 8rem;
}

.thankyou-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thankyou-container .right{
    position: relative;
}

.thankyou-container .right .image-decor{
    position: absolute;
    top: 3rem;
    left: 9rem;
}

