.uiux-success-main .uiux-success-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .uiux-success-main .uiux-success-header .right{
    display: flex;
  }
  .uiux-success-main .cards-container {
    overflow-x: hidden;
  }
  .uiux-success-main .cards-container .cards-wrapper {
    display: flex;
    width: 300%;
    transition: transform 300ms ease-in-out;
  }
  .uiux-success-main .cards-container .cards-wrapper .case-study-card {
    display: flex;
    width: 100%;
    transition: transform 300ms ease-in-out;
  }
  .uiux-success-main .cards-container .cards-wrapper .case-study-card .content {
    flex-basis: 50%;
    padding: 5.7rem 5.4rem;
  }
  
  .uiux-success-main .cards-container .cards-wrapper .case-study-card .content .data-value-wrapper {
    display: flex;
    gap: 2%;
  }
  .uiux-success-main .cards-container .cards-wrapper .case-study-card .content .data-value-wrapper .data-value{
    flex-basis: 49%;
  }
  .uiux-success-main .cards-container .cards-wrapper .case-study-card .image-wrapper {
    flex-basis: 50%;
    height: 100%;
  }
  .uiux-success-main .cards-container .cards-wrapper .case-study-card .image-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  @media only screen and (max-width: 576px) {
    .uiux-success-main {
      padding-bottom: 8rem;
    }
    .uiux-success-main .uiux-success-header{
      flex-direction: column;
      align-items: start !important;
    }

    .uiux-success-main .uiux-success-header .left h2 {
      width: 100%;
      margin-bottom: 3rem;
    }
    .uiux-success-main .cards-container{
      margin-left: -4rem;
      margin-right: -4rem;
    }
    .uiux-success-main .cards-container .cards-wrapper .case-study-card {
      flex-direction: column;
    }
    .uiux-success-main .cards-container .cards-wrapper .content {
      padding: 3rem !important;
    }
    .uiux-success-main .cards-container .cards-wrapper .case-study-card .content .data-value-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }