.uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card{
    display: flex;
    justify-content: space-between;
}
.uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card:first-child{
    margin-top: 14.7rem;
}

.uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card .left{
    flex-basis: 40%;
    margin-top: 7.7rem;
}

.uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card .right{
    flex-basis: 50%;
    position: relative;
    height: 60rem;
}

.uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card .right .number-image{
    height: 25.8rem;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 45rem;
    z-index: 3;
}


.uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card .right .number-image svg{
    height: 100%;
    width: fit-content;
}
.uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card .right .main-image{
    height: 43.6rem;
    width: fit-content;
    position: absolute;
    top: 8rem;
    right: 7rem;
    z-index: 2;
}

.uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card .right .decor-image{
    height: 37.8rem;
    width: fit-content;
    position: absolute;
    top: 22rem;
    right: 0;
}


@media only screen and (max-width: 576px){
    .uiux-wedo-section{
        padding-bottom: 0;
    }
    .uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        height: 100rem;
    }
    .uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card .left{
        width: 100%;
        margin-top: 3rem;
    }
    .uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card .right{
        width: 100%;
        position: relative;
        height: 55rem;
    }
    .uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card .right .number-image{
        height: 20rem;
        width: fit-content;
        position: absolute;
        top: 0;
        right: 50vw;
        z-index: 3;
    }
    
    .uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card .right .main-image{
        height: 28rem;
        width: fit-content;
        position: absolute;
        top: 8rem;
        right: 20vw;
        z-index: 2;
    }
    
    .uiux-wedo-body .uiux-wedo-cards-wrapper .uiux-card .right .decor-image{
        height: 28rem;
        width: fit-content;
        position: absolute;
        top: 22rem;
        right: 0;
    }
}