.collaborate-wrapper {
  display: flex;
  width: 100%;
  gap: 8rem;
  padding-top: 12rem;
  margin-bottom: 12rem;
}

.collaborate-wrapper .image-wrapper {
  width: 40%;
}

.collaborate-wrapper .image-wrapper img {
  width: 100%;
  height: fit-content;
  object-fit: contain;
}

.collaborate-wrapper .content {
  width: 50%;
  position: relative;
}

.collaborate-wrapper .content h2{
  font-size: 4rem !important;
}

.collaborate-wrapper .content h2 p{
  font-size: 4rem !important;
}

.collaborate-wrapper .content .decor-ring {
  position: absolute;
  bottom: 0;
  right: -12rem;
  opacity: 0.6;
}

.collaborate-wrapper .content .dash-decor {
  height: 0.6rem;
  width: 6.4rem;
  background: #ed7f5c;
  margin-bottom: 6.6rem;
}
@media only screen and (max-width: 992px) {
  .collaborate-wrapper {
    flex-direction: column;
    gap: 4rem;
  }
  .collaborate-wrapper .image-wrapper {
    width: 75%;
    margin: auto;
  }
  .collaborate-wrapper .content {
    width: 100%;
  }
  .collaborate-wrapper .content .dash-decor {
    margin-bottom: 2.6rem;
  }
}
@media only screen and (max-width: 576px) {
  .collaborate-wrapper {
    padding-top: 6rem;
    margin-bottom: 8rem;
  }
    .collaborate-wrapper .image-wrapper {
      width: 100%;
    }
    
  }
