.servicespage-wrapper .our-vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
  }
  .servicespage-wrapper .our-vision h2 {
    text-align: center;
  }

  .servicespage-wrapper .our-vision .vision-gallery-container{
    display: flex;
    gap: 2rem;
  }

  .servicespage-wrapper .our-vision .vision-gallery-container .vision-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 54%;
    height: fit-content;
  }

  .servicespage-wrapper .our-vision .vision-gallery-container .vision-gallery img{
    width: 100%;
    height: 38rem;
    object-fit: cover;
    
  }

  .servicespage-wrapper .our-vision .vision-gallery-container .vision-gallery .inner-container{
    width: 30%;
  }

  .servicespage-wrapper .our-vision .vision-gallery-container .vision-gallery .inner-container img{
    width: 100%;
    object-fit: cover;
    height: 18rem;
  }

  @media only screen and (max-width: 992px) {
   
  }
  @media only screen and (max-width: 768px) {
      
  }
  @media only screen and (max-width: 576px) {
    .servicespage-wrapper .our-vision .vision-gallery-container{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .servicespage-wrapper .our-vision h2 {
      margin-bottom: 4rem;
    }
    .servicespage-wrapper .our-vision {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 8rem;
    }
    .servicespage-wrapper .our-vision .vision-gallery-container .vision-gallery{
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      width: 100%;
      object-fit: contain;
      height: fit-content;
    }
    .servicespage-wrapper .our-vision .vision-gallery-container .vision-gallery .inner-container{
      width: 47%;
    }
  }