{% load static %}
 <!-- contact and Footer section Starts -->
    <section class="contact-section">
      <div class="sidebar dark-section {% if contact.ourworks_page_link.get_url == path %}theme-darkgreen{% endif %}">
        <h5 class="color-white spaced-word t-15">Contact Us</h5>
      </div>
      <div class="contact-main pl-54 pr-54 pt-100 w-container c-dark {% if contact.ourworks_page_link.get_url == path %}theme-darkgreen{% endif %}">
        <div class="contact-container" id="contact-container">
          <div class="left">
            <h4 class="color-white mb-16">Let’s collaborate</h4>
            <h2 class="color-white mb-16">
              <span class="gradient-text-light">Need assistance</span> or have
              questions?
            </h2>
            <h4 class="ft-26 fw-500 color-light-white">
              Want cutting-edge solutions minus the headaches? Contact us to shape your digital future.
            </h4>
          </div>
          <form class="contact-form" >
            {% csrf_token %}
            <div class="cf-row">
              <div class="name div-input-50">
                <label for="name">Name</label>
                <p class="error-message name-error-message"></p>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="input-50"
                  placeholder="Enter Here"
                  autocomplete = "on"
                />
              </div>
              <div class="email div-input-50">
                <label for="email">Email</label>
                <p class="error-message email-error-message"></p>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="input-50"
                  placeholder="Enter Here"
                  autocomplete = "on"
                />
              </div>
            </div>
            <div class="cf-row">
              <div class="phone-number div-input-50">
                <label for="phone-number">Phone Number</label>
                <p class="error-message phn-error-message"></p>
                <div class="countrycode-phnno">
                  <select name="country-code" id="country-code">
                    {% comment %} get data from countries.json {% endcomment %}
                  </select>
                  <input
                    type="number"
                    id="phone-number"
                    name="phone-number"
                    maxlength="10"
                    placeholder="Enter Here"
                    autocomplete = "on"
                  />
                </div>
              </div>
              <div class="company div-input-50">
                <label for="company">Company</label>
                <p class="error-message company-error-message"></p>
                <input
                  type="text"
                  id="company"
                  name="company"
                  placeholder="Enter Here"
                  class="input-50"
                />
              </div>
            </div>
            <div class="services">
              <label for="services">Services</label>
              <p class="error-message services-error-message"></p>
              <select name="services" id="services">
                {% for service in servicesoptions %}
                  <option value="{{service.service}}">{{service.service}}</option>
                {% endfor %}
                
              </select>
            </div>
             {% comment %} <input type="submit" value="Submit!" class="primary-btn"/> {% endcomment %}
            <button type="submit" class="primary-btn" id="submit-btn">
              Get in Touch
              <svg
                width="28"
                height="11"
                viewBox="0 0 28 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 1H25L17.9577 10"
                  stroke="#F7F5F4"
                  stroke-width="2"
                />
              </svg>
            </button>
          </form>
        </div>
      </div>
    </section>
    <!-- contact and Footer section Ends -->

<script src="{% static 'blocks/js/contactus.js' %}"></script>

<script>
fetch("{% static 'blocks/js/countries.json' %}")
  .then((response) => response.json())
  .then((data) => {
    dialCodesData(data);
  })
  .catch((error) => console.error("Error fetching country data:", error));
</script>