 <!-- contact and Footer section Starts -->
    <section class="contact-section">
      <div class="sidebar dark-section">
        <h5 class="color-white spaced-word t-15">Contact Us</h5>
      </div>
      <div class="contact-main pl-54 pr-54 pt-100 w-container c-dark">
        <div class="contact-container" id="contact-container">
          <div class="left">
            <h4 class="color-white mb-16">Contact Us</h4>
            <h2 class="color-white mb-16">
              <span class="gradient-text-light">Need Assistance</span> or have
              questions?
            </h2>
            <h3 class="ft-26 color-light-white">
              Our dedicated business development team is here to support you
              every step of the way.
            </h3>
          </div>
          <form class="contact-form">
            <div class="cf-row">
              <div class="name div-input-50">
                <label for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="input-50"
                  placeholder="John"
                />
              </div>
              <div class="email div-input-50">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="input-50"
                  placeholder="john@gmail.com"
                />
              </div>
            </div>
            <div class="cf-row">
              <div class="phone-number div-input-50">
                <label for="phone-number">Phone Number</label>
                <div class="countrycode-phnno">
                  <select name="country code" id="country-code">
                    <option value="+91">+91</option>
                  </select>
                  <input
                    type="tel"
                    id="phone-number"
                    name="phone-number"
                    placeholder="7386429889"
                  />
                </div>
              </div>
              <div class="company div-input-50">
                <label for="company">Company</label>
                <input
                  type="text"
                  id="company"
                  name="company"
                  placeholder="e.g XYZ"
                  class="input-50"
                />
              </div>
            </div>
            <div class="services">
              <label for="servies">Services</label>
              <select name="services" id="services">
                {% for service in servicesoptions %}
                  <option value="software-services">{{service.service}}</option>
                {% endfor %}
                
              </select>
            </div>
            <button class="primary-btn">
              Submit
              <svg
                width="28"
                height="11"
                viewBox="0 0 28 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 1H25L17.9577 10"
                  stroke="#F7F5F4"
                  stroke-width="2"
                />
              </svg>
            </button>
          </form>
        </div>
      </div>
    </section>
    <!-- contact and Footer section Ends -->