{%load wagtailimages_tags%}  
{% load static %}

<div class="body-container body-container-welcomeback-model remove">
    <div class="welcomeback-model">
        <div class="left">
            {%image welcomebackmodel.sideimage max-3000x1500 class="sideimage"%}
        </div>
        <div class="right">
            <svg class="welcomeback-close-btn" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
                <line x1="1.35355" y1="0.646447" x2="17.3536" y2="16.6464" stroke="white"/>
                <line y1="-0.5" x2="22.6274" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 17 1)" stroke="white"/>
            </svg>
            <h2 class='mb-24 color-white'>{{welcomebackmodel.headline}}</h2>
            <p class='mb-36 color-light-white'>{{welcomebackmodel.content}}</p>
            <a href="{{welcomebackmodel.contactus_page_link.get_url}}" class="primary-btn">{{welcomebackmodel.btn_text}}
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="11" viewBox="0 0 28 11" fill="none">
                    <path d="M0 1H25L17.9577 10" stroke="#F7F5F4" stroke-width="2"/>
                </svg>
            </a>
        </div>
    </div>
</div>
    <script src="{% static 'blocks/js/welcomebackmodel.js' %}"></script>
