.servicesto-section {
    padding-top: 10rem;
    padding-bottom: 11rem;
    background-color: #f3f3f3;
  }
  .servicesto-section .sector-card-group-wrapper {
    overflow-x: scroll;
  }
  .servicesto-section .sector-card-group-wrapper::-webkit-scrollbar {
    display: none;
  }
  .servicesto-section .sector-card-group-wrapper .sector-card-group {
    display: flex;
    gap: 5rem;
  }
  .servicesto-section .sector-card-group-wrapper .sector-card-group .sector-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    min-width: 38rem;
    height: 35rem;
    padding: 3.2rem 3.5rem;
  }
  .servicesto-section .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-content .sector-card-header {
    display: flex;
    align-items: center;
    margin-left: -4px;
    margin-bottom: 2.8rem;
    gap: 1rem;
  }
  .servicesto-section .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-content ul {
    list-style: none;
  }
  .servicesto-section .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-content ul li {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    margin-bottom: 0.8rem;
  }
  .servicesto-section .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-content ul li svg {
    width: 1.8rem;
  }
  .servicesto-section .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-footer {
    display: flex;
    gap: 2rem;
  }
  .servicesto-section .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-footer img {
    height: 2.4rem;
    width: auto;
  }


  @media only screen and (max-width: 992px) {
   
  }
  @media only screen and (max-width: 768px) {
   
  }
  @media only screen and (max-width: 576px) {
    
  }