.services-stats-section {
    position: relative;
  }
 .services-stats-section .geometric-circle {
    position: absolute;
    top: -13rem;
    left: -5rem;
  }
.services-stats-section .geometric-rectangle {
    position: absolute;
    top: 10rem;
    right: 5.4rem;
  }
.services-stats-section .stats-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
.services-stats-section .stats-wrapper .stat-card {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }


  @media only screen and (max-width: 992px) {
    
  }
  @media only screen and (max-width: 768px) {
    .services-stats-section {
      position: relative;
    }
    .services-stats-section h2 {
      width: 100% !important;
    }
    .services-stats-section .geometric-circle {
      width: 30rem;
      height: auto;
      position: absolute;
      top: -13rem;
      left: -5rem;
    }
    .services-stats-section .geometric-rectangle {
      width: 5rem;
      height: auto;
      position: absolute;
      top: 40rem;
      right: 0rem;
    }
    .services-stats-section .stats-wrapper {
      width: 100%;
      display: flex;
      gap: 3rem;
      justify-content: space-between;
    }
    .services-stats-section .stats-wrapper .stat-card {
      width: 18rem;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }
  @media only screen and (max-width: 576px) {
    .services-stats-section {
      position: relative;
    }
    .services-stats-section h2 {
      width: 100% !important;
    }
    .services-stats-section .geometric-circle {
      width: 30rem;
      height: auto;
      position: absolute;
      top: -13rem;
      left: -5rem;
    }
    .services-stats-section .geometric-rectangle {
      width: 5rem;
      height: auto;
      position: absolute;
      top: 40rem;
      right: 0rem;
    }
    .services-stats-section .stats-wrapper {
      width: 100%;
      display: flex;
      gap: 3rem;
      justify-content: space-between;
    }
    .services-stats-section .stats-wrapper .stat-card {
      width: 18rem;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }