 .services-testimonial-section .testimonial-wrapper {
    display: flex;
    justify-content: space-between;
  }
.services-testimonial-section .testimonial-wrapper .left {
    flex-basis: 40%;
  }
.services-testimonial-section .testimonial-wrapper .left img {
    width: 100%;
    height: auto;
  }
.services-testimonial-section .testimonial-wrapper .right {
    flex-basis: 50%;
  }
.services-testimonial-section .testimonial-wrapper .right .dash {
    width: 6rem;
    height: 0.6rem;
    background-color: #ED7F5C;
  }