.contact-main {
  padding-bottom: 12rem;
}
.contact-main .contact-container {
  display: flex;
  width: 100%;
  gap: 10rem;
  padding-bottom: 16rem;
  border-bottom: 1px solid #544e4e;
}
.contact-main .contact-container .left {
  flex-basis: 40%;
}
.contact-main .contact-container .contact-form {
  flex-basis: 60%;
  padding-right: 10%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional - adjust as needed */
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
@media only screen and (max-width: 768px) {
  .contact-main .contact-container .contact-form {
    padding-right: 0;
  }
}
.contact-main .contact-container .contact-form label {
  color: #fff;
  font-family: Satoshi-bold;
  font-size: 1.6rem;
  line-height: 111%;
  display: flex;
  margin-bottom: 1rem;
}
.contact-main .contact-container .contact-form .cf-row {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin-bottom: 3rem;
}
.contact-main .contact-container .contact-form .cf-row .div-input-50 {
  flex-basis: 50%;
  position: relative;
}

.contact-main .contact-container .contact-form .cf-row .div-input-50 .error-message{
  position: absolute;
  left:0;
  bottom: -2rem;
  color:#d40c0c;
  display: none;
  font-size: 1.2rem;
}
.contact-main .contact-container .contact-form .cf-row .div-input-50.phone-number .error-message{
  position: absolute;
  left:10.5rem;
  bottom: -2rem;
  color:#d40c0c;
  display: none;
  font-size: 1.2rem;
}

.contact-main .contact-container .contact-form .cf-row .div-input-50 .error-message.active{
  display: flex;
}


.contact-main .contact-container .contact-form .cf-row .div-input-50 .input-50 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.6rem;
  border: 1px solid #3f3f3f;
  background: #0c0b0b;
  color: #fff;
  font-family: "Spline Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.contact-main .contact-container .contact-form .cf-row .div-input-50 .input-50:focus{
  outline: none;
  border: 1px solid #ED7F5C;
}
.contact-main .contact-container .contact-form .cf-row .div-input-50 .input-50.error{
  outline: none;
  border: 1px solid #d40c0c;
}
.contact-main
  .contact-container
  .contact-form
  .cf-row
  .div-input-50
  .input-50::-moz-placeholder {
  color: #808080;
  font-family: "Spline Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.contact-main
  .contact-container
  .contact-form
  .cf-row
  .div-input-50
  .input-50::placeholder {
  color: #808080;
  font-family: "Spline Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.contact-main
  .contact-container
  .contact-form
  .cf-row
  .div-input-50
  .countrycode-phnno {
  flex-basis: 50%;
  display: flex;
  gap: 1rem;
}
.contact-main
  .contact-container
  .contact-form
  .cf-row
  .div-input-50
  .countrycode-phnno
  #country-code {
  width: 35%;
  padding: 1.6rem;
  border: 1px solid #3f3f3f;
  background: #0c0b0b;
  color: #808080;
  font-family: "Spline Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  white-space: pre;
}
.contact-main
  .contact-container
  .contact-form
  .cf-row
  .div-input-50
  .countrycode-phnno
  #country-code option{
  white-space: pre;
}
.contact-main
  .contact-container
  .contact-form
  .cf-row
  .div-input-50
  .countrycode-phnno
  #country-code:focus {
    outline: none;
    border: 1px solid #ED7F5C;
  }
.contact-main
  .contact-container
  .contact-form
  .cf-row
  .div-input-50
  .countrycode-phnno
  #phone-number {
  width: 65%;
  padding: 1.6rem;
  border: 1px solid #3f3f3f;
  background: #0c0b0b;
  color: #fff;
  font-family: "Spline Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.contact-main
  .contact-container
  .contact-form
  .cf-row
  .div-input-50
  .countrycode-phnno
  #phone-number:focus {
    outline: none;
    border: 1px solid #ED7F5C;
}
.contact-main
  .contact-container
  .contact-form
  .cf-row
  .div-input-50
  .countrycode-phnno
  #phone-number.error {
    outline: none;
    border: 1px solid #d40c0c;
}
.contact-main
  .contact-container
  .contact-form
  .cf-row
  .div-input-50
  .countrycode-phnno
  #phone-number::-moz-placeholder {
  color: #808080;
  font-family: "Spline Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  height: 1.6rem;
}
.contact-main
  .contact-container
  .contact-form
  .cf-row
  .div-input-50
  .countrycode-phnno
  #phone-number::placeholder {
  color: #808080;
  font-family: "Spline Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  height: 1.6rem;
}
.contact-main .contact-container .contact-form .services {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
}
.contact-main .contact-container .contact-form .services .error-message{
  position: absolute;
  left:0;
  bottom: -2rem;
  color:#d40c0c;
  display: none;
  font-size: 1.2rem;
}
.contact-main .contact-container .contact-form .services .error-message.active{
  display: flex;
}

.contact-main .contact-container .contact-form .services #services {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.6rem;
  border: 1px solid #3f3f3f;
  background: #0c0b0b;
  color: #fff;
  font-family: "Spline Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}
.contact-main .contact-container .contact-form .services #services:focus {
  outline: none;
    border: 1px solid #ED7F5C;
}
.contact-main .contact-container .contact-form .services #services.error {
  outline: none;
    border: 1px solid #d40c0c;
}
.contact-main .contact-container .contact-form .message {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.contact-main .contact-container .contact-form .message #message {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 19rem;
  padding: 1.6rem;
  border: 1px solid #3f3f3f;
  background: #0c0b0b;
  color: #808080;
  font-family: "Spline Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}
.contact-main .contact-container .contact-form .message #message:focus {
  outline: none;
    border: 1px solid #ED7F5C;
}
.contact-main .contact-container .contact-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #0c0b0b
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEwIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNSA1TDkgMSIgc3Ryb2tlPSIjRjdGNUY0IiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==)
    no-repeat right 1.4rem center !important;
  padding-right: 30px !important;
}
.contact-main .contact-container .contact-form select:focus {
  outline: none;
  border: 1px solid #ED7F5C;
}

@media only screen and (max-width: 768px) {
  .contact-main .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-main .contact-container .left {
    flex-basis: 40%;
  }
  .contact-main .contact-container .contact-form .cf-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-container .right {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  .footer-container .right img {
    width: 10rem;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }
}
@media only screen and (max-width: 576px) {
  .contact-main {
    padding-bottom: 8rem;
  }
  .contact-main .contact-container {
    display: flex;
    width: 100%;
    gap: 6rem;
    padding-bottom: 8rem;
    border-bottom: 1px solid #544e4e;
  }
  .contact-main .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-main .contact-container .left {
    flex-basis: 40%;
  }
  .contact-main .contact-container .left h4{
    font-size: 2rem;
  }
  .contact-main .contact-container .contact-form .cf-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .contact-main .contact-container .contact-form .cf-row .div-input-50.phone-number .error-message{
    position: absolute;
    left:13rem;
    bottom: -2rem;
    color:#d40c0c;
    display: none;
    font-size: 1.2rem;
  }
  .contact-main .contact-container .contact-form .cf-row .div-input-50 .error-message.active{
    display: flex;
  }
  .footer-container .right {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  .footer-container .right img {
    width: 10rem;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }
}
