.contact-main {
    padding-bottom: 20rem;
  }
  .contact-main .contact-container {
    display: flex;
    width: 100%;
    gap: 10rem;
    padding-bottom: 16rem;
    border-bottom: 1px solid #544e4e;
  }
  .contact-main .contact-container .left {
    flex-basis: 40%;
  }
  .contact-main .contact-container .contact-form {
    flex-basis: 60%;
    padding-right: 10%;
  }
  @media only screen and (max-width: 768px) {
    .contact-main .contact-container .contact-form {
      padding-right: 0;
    }
  }
  .contact-main .contact-container .contact-form label {
    color: #fff;
    font-family: Satoshi-bold;
    font-size: 1.6rem;
    line-height: 111%;
    margin-bottom: 1rem;
  }
  .contact-main .contact-container .contact-form .cf-row {
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .contact-main .contact-container .contact-form .cf-row .div-input-50 {
    flex-basis: 50%;
  }
  .contact-main .contact-container .contact-form .cf-row .div-input-50 .input-50 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.6rem;
    border: 1px solid #3f3f3f;
    background: #0c0b0b;
    color: #fff;
    font-family: "Spline Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .contact-main .contact-container .contact-form .cf-row .div-input-50 .input-50::-moz-placeholder {
    color: #808080;
    font-family: "Spline Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .contact-main .contact-container .contact-form .cf-row .div-input-50 .input-50::placeholder {
    color: #808080;
    font-family: "Spline Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .contact-main .contact-container .contact-form .cf-row .div-input-50 .countrycode-phnno {
    flex-basis: 50%;
    display: flex;
    gap: 1rem;
  }
  .contact-main .contact-container .contact-form .cf-row .div-input-50 .countrycode-phnno #country-code {
    width: 30%;
    padding: 1.6rem;
    border: 1px solid #3f3f3f;
    background: #0c0b0b;
    color: #808080;
    font-family: "Spline Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
  }
  .contact-main .contact-container .contact-form .cf-row .div-input-50 .countrycode-phnno #phone-number {
    width: 70%;
    padding: 1.6rem;
    border: 1px solid #3f3f3f;
    background: #0c0b0b;
    color: #fff;
    font-family: "Spline Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .contact-main .contact-container .contact-form .cf-row .div-input-50 .countrycode-phnno #phone-number::-moz-placeholder {
    color: #808080;
    font-family: "Spline Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    height: 1.6rem;
  }
  .contact-main .contact-container .contact-form .cf-row .div-input-50 .countrycode-phnno #phone-number::placeholder {
    color: #808080;
    font-family: "Spline Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    height: 1.6rem;
  }
  .contact-main .contact-container .contact-form .services {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .contact-main .contact-container .contact-form .services #services {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.6rem;
    border: 1px solid #3f3f3f;
    background: #0c0b0b;
    color: #808080;
    font-family: "Spline Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
  }
  .contact-main .contact-container .contact-form .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .contact-main .contact-container .contact-form .message #message {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 19rem;
    padding: 1.6rem;
    border: 1px solid #3f3f3f;
    background: #0c0b0b;
    color: #808080;
    font-family: "Spline Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
  }
  .contact-main .contact-container .contact-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #0c0b0b url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEwIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNSA1TDkgMSIgc3Ryb2tlPSIjRjdGNUY0IiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==) no-repeat right 1.4rem center !important;
    padding-right: 30px !important;
  }