.company-logo {
    position: fixed;
    top: 1.9rem;
    left: 1.9rem;
    z-index: 5000;
    background: #172125;
  }
  
  nav{
    background: #172125;
  }
  nav.c-dark .navigation-wrapper {
    border-left: 1px solid #544e4e !important;
    border-bottom: 1px solid #544e4e !important;
  }
  nav.c-dark .navigation-wrapper .contactus {
    border-left: 1px solid #544e4e !important;
  }
  nav .nav-mobile {
    display: none;
  }
  nav .navigation-wrapper {
    margin-left: 6.5rem;
    border-left: 1px solid #604D4D;
    border-bottom: 1px solid #604D4D;
    height: 6.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .navigation-wrapper h3 {
    margin-left: 5.4rem;
    font-family: "Satoshi-Black";
  }
  nav .navigation-wrapper .half-logo{
    display: flex;
    margin-top: 2px;
  }
  nav .navigation-wrapper .close-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 3rem;
    right: 3rem;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
    border: 1px solid #fff;
  }
  nav .navigation-wrapper .close-menu svg {
    transition: transform 0.3s ease-in-out;
  }
  nav .navigation-wrapper .close-menu:hover {
    color: #f0493e;
    border: 1.5px solid #f0493e;
  }
  nav .navigation-wrapper .close-menu:hover svg {
    transform: rotate(90deg);
  }
  nav .navigation-wrapper .close-menu:hover svg path {
    stroke: #f0493e;
  }
  nav .navigation-wrapper .navigation {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
  }
  nav .navigation-wrapper .navigation h5:first-child {
    display: none;
  }
  nav .navigation-wrapper .navigation h5 a .menu-arrow {
    display: none;
  }
  nav .navigation-wrapper .navigation h5:hover a {
    color: #f0493e !important;
  }
  nav .navigation-wrapper .navigation h5 a.active {
    color: #f0493e !important;
  }
  nav .navigation-wrapper .navigation h5:hover a svg path {
    stroke: #f0493e;
  }
  nav .navigation-wrapper .contactus {
    padding: 2rem 2.8rem;
    border-left: 1px solid #604D4D;
  }
  nav .navigation-wrapper .contactus a svg {
    display: none;
  }
  nav .navigation-wrapper .contactus:hover a {
    color: #f0493e !important;
  }


  @media only screen and (max-width: 992px) {
    nav .navigation-wrapper {
      margin-left: 5.6rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .company-logo {
      display: none;
    }
    nav {
      margin-left: 0;
    }
    nav .nav-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
    }
    nav .nav-mobile .nav-mobile-logo {
      height: 5.6rem;
      width: auto;
      margin-left: 3.6rem;
      padding: 1rem 0;
    }
    nav .nav-mobile .menu-bars {
      height: 2.4rem;
      width: auto;
      margin-right: 3.6rem;
    }
    nav .nav-mobile .menu-close {
      display: none;
      height: 2.4rem;
      width: auto;
      margin-right: 3.6rem;
    }
    nav .navigation-wrapper {
      padding: 5rem;
      transition: transform 0.3s ease-in-out;
      transform: translateX(100dvw);
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      height: 100dvh;
      width: 100dvw;
      z-index: 9000;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #fff;
      margin-left: 0;
      border: 0;
    }
    nav .navigation-wrapper.menu-open {
      transform: translateX(0);
    }
    nav .navigation-wrapper h3 {
      display: none;
    }
    nav .navigation-wrapper .close-menu {
      display: flex;
    }
    nav .navigation-wrapper .navigation {
      display: flex;
      flex-direction: column;
      margin-top: 15rem;
      align-items: flex-start;
      width: 100%;
    }
    nav .navigation-wrapper .navigation h5 {
      width: 100%;
      border-bottom: 1px solid #c8c5c5;
      margin-bottom: 3rem;
      font-size: 2rem;
    }
    nav .navigation-wrapper .navigation h5:first-child {
      display: flex;
    }
    nav .navigation-wrapper .navigation h5 a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 100%;
      width: 100%;
      padding-bottom: 1rem;
    }
    nav .navigation-wrapper .navigation h5 a .menu-arrow {
      display: block;
      width: 2rem;
      height: 2rem;
    }
    nav .navigation-wrapper .navigation h5 a .menu-arrow path {
      stroke: #333;
    }
    nav .navigation-wrapper .navigation h5 a svg {
      display: block;
      margin-left: auto;
    }
    nav .navigation-wrapper .contactus {
      border: 0;
      margin-top: auto;
      padding: 0;
      width: 100%;
    }
    nav .navigation-wrapper .contactus a {
      padding: 2rem;
      font-size: 2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff !important;
      font-size: 1.4rem;
      font-family: "Satoshi-Black";
      font-weight: dark;
      line-height: 140%;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      background: linear-gradient(270deg, #ce4961 8.92%, #c94d45 84.76%);
    }
    nav .navigation-wrapper .contactus a svg {
      display: block;
      padding-top: 0.8rem;
      width: 3rem;
      height: auto;
    }
  }
  @media only screen and (max-width: 576px) {
    .company-logo {
      display: none;
    }
    nav {
      margin-left: 0;
    }
    nav .nav-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    nav .nav-mobile .nav-mobile-logo {
      height: 5rem;
      width: auto;
      margin-left: 3.6rem;
      padding: 1rem 0;
    }
    nav .nav-mobile .menu-bars {
      height: 1.6rem;
      width: auto;
      margin-right: 3.6rem;
    }
    nav .nav-mobile .menu-close {
      display: none;
      height: 2.4rem;
      width: auto;
      margin-right: 3.6rem;
    }
    nav .navigation-wrapper {
      padding: 5rem;
      transition: transform 0.3s ease-in-out;
      transform: translateX(100dvw);
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      height: 100dvh;
      width: 100dvw;
      z-index: 9000;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #172125;
      margin-left: 0;
      border: 0;
    }
    nav .navigation-wrapper.menu-open {
      transform: translateX(0);
    }
    nav .navigation-wrapper h3 {
      display: none;
    }
    nav .navigation-wrapper .close-menu {
      display: flex;
    }
    nav .navigation-wrapper .navigation {
      display: flex;
      flex-direction: column;
      margin-top: 15rem;
      align-items: flex-start;
      width: 100%;
    }
    nav .navigation-wrapper .navigation h5 {
      width: 100%;
      border-bottom: 1px solid #c8c5c5;
      margin-bottom: 3rem;
      font-size: 2rem;
    }
    nav .navigation-wrapper .navigation h5:first-child {
      display: flex;
    }
    nav .navigation-wrapper .navigation h5 a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 100%;
      width: 100%;
      padding-bottom: 1rem;
    }
    nav .navigation-wrapper .navigation h5 a .menu-arrow {
      display: block;
      width: 2rem;
      height: 2rem;
    }
    nav .navigation-wrapper .navigation h5 a .menu-arrow path {
      stroke: #333;
    }
    nav .navigation-wrapper .navigation h5 a svg {
      display: block;
      margin-left: auto;
    }
    nav .navigation-wrapper .contactus {
      border: 0;
      margin-top: auto;
      padding: 0;
      width: 100%;
    }
    nav .navigation-wrapper .contactus a {
      padding: 2rem;
      font-size: 2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff !important;
      font-size: 1.4rem;
      font-family: "Satoshi-Black";
      font-weight: dark;
      line-height: 140%;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      background: linear-gradient(270deg, #ce4961 8.92%, #c94d45 84.76%);
    }
    nav .navigation-wrapper .contactus a svg {
      display: block;
      padding-top: 0.8rem;
      width: 3rem;
      height: auto;
    }
    .services-modal .services-modal-wrapper {
      flex-direction: column;
      justify-content: flex-start;
      gap: 4rem;
    }
    .services-modal .services-modal-wrapper .side-header h4 a {
      display: flex;
      align-items: center;
      gap: 2.7rem;
    }
    .services-modal .services-modal-wrapper .side-header h4 a svg {
      margin-top: 1rem;
      transition: transform 0.3s ease-in-out;
    }
    .services-modal .services-modal-wrapper .side-header h4:hover a {
      color: #f0493e;
    }
    .services-modal .services-modal-wrapper .side-header h4:hover svg {
      transform: translateX(4px);
    }
    .services-modal .services-modal-wrapper .side-header h4:hover svg path {
      stroke: #f0493e;
    }
    .services-modal .services-modal-wrapper .services-wrapper {
      padding-top: 1rem;
      width: 100%;
      height: -moz-fit-content;
      height: fit-content;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
    }
    .services-modal .services-modal-wrapper .services-wrapper .service-button {
      position: relative;
      width: 37.5rem;
      height: -moz-fit-content;
      height: fit-content;
      padding: 1.7rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #c8c5c5;
    }
    .services-modal .services-modal-wrapper .services-wrapper .service-button svg {
      margin-top: 1rem;
      transition: transform 0.2s ease-in-out;
    }
    .services-modal .services-modal-wrapper .services-wrapper .service-button:hover h4 {
      color: #f0493e;
    }
    .services-modal .services-modal-wrapper .services-wrapper .service-button:hover svg {
      transform: translateX(4px);
    }
    .services-modal .services-modal-wrapper .services-wrapper .service-button:hover svg path {
      stroke: #f0493e;
    }
    .services-modal .services-modal-wrapper .services-wrapper .service-button::before {
      content: "";
      height: 1px;
      width: 0;
      position: absolute;
      bottom: -1px;
      transition: all 0.3s ease-in-out;
    }
    .services-modal .services-modal-wrapper .services-wrapper .service-button:hover::before {
      height: 1px;
      width: 100%;
      background-color: #f0493e;
      position: absolute;
      bottom: -1px;
    }
    .services-modal .services-modal-wrapper .close-btn {
      cursor: pointer;
      position: absolute;
      top: 3rem;
      right: 3rem;
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      gap: 1rem;
      border: 1px solid #333;
    }
    .services-modal .services-modal-wrapper .close-btn svg {
      transition: transform 0.3s ease-in-out;
    }
    .services-modal .services-modal-wrapper .close-btn:hover {
      color: #f0493e;
      border: 1.5px solid #f0493e;
    }
    .services-modal .services-modal-wrapper .close-btn:hover svg {
      transform: rotate(90deg);
    }
    .services-modal .services-modal-wrapper .close-btn:hover svg path {
      stroke: #f0493e;
    }
    .services-modal .services-modal-wrapper .services-modal-image {
      display: none;
    }
    .services-modal .services-modal-wrapper .rectangle {
      position: absolute;
      right: 0;
      top: 12rem;
    }
    .services-modal .services-modal-wrapper .dotted-mesh {
      display: none;
    }
    .services-modal .services-modal-wrapper .triangle {
      position: absolute;
      bottom: 0;
      left: 40rem;
    }
  }