.services-modal {
  width: 100dvw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  background-color: #fff;
  overflow: hidden;
  transform: translateY(-100%);
  transition: transform 0.5s ease-out;
}
.services-modal .services-modal-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5rem;
  padding: 3.6rem;
}

.services-modal .services-modal-wrapper .side-header{
  width: 30%;
}

.services-modal .services-modal-wrapper .side-header h2 {
  font-size: 5rem;
  margin-top: 7rem;
}

.services-modal .services-modal-wrapper .side-header h4 a {
  display: flex;
  align-items: center;
  gap: 2.7rem;
}
.services-modal .services-modal-wrapper .side-header h4 a svg {
  margin-top: 1rem;
  transition: transform 0.3s ease-in-out;
}
.services-modal .services-modal-wrapper .side-header h4:hover a {
  color: #f0493e;
}
.services-modal .services-modal-wrapper .side-header h4:hover svg {
  transform: translateX(4px);
}
.services-modal .services-modal-wrapper .side-header h4:hover svg path {
  stroke: #f0493e;
}
.services-modal .services-modal-wrapper .services-wrapper {
  margin-top: 8rem;
  height: -moz-fit-content;
  height: fit-content;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.services-modal .services-modal-wrapper .services-wrapper .service-button {
  position: relative;
  width: 37.5rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c8c5c5;
}
.services-modal .services-modal-wrapper .services-wrapper .service-button svg {
  margin-top: 1rem;
  transition: transform 0.2s ease-in-out;
}
.services-modal
  .services-modal-wrapper
  .services-wrapper
  .service-button:hover
  h4 {
  color: #f0493e;
}
.services-modal
  .services-modal-wrapper
  .services-wrapper
  .service-button:hover
  svg {
  transform: translateX(4px);
}
.services-modal
  .services-modal-wrapper
  .services-wrapper
  .service-button:hover
  svg
  path {
  stroke: #f0493e;
}
.services-modal
  .services-modal-wrapper
  .services-wrapper
  .service-button::before {
  content: "";
  height: 1px;
  width: 0;
  position: absolute;
  bottom: -1px;
  transition: all 0.3s ease-in-out;
}
.services-modal
  .services-modal-wrapper
  .services-wrapper
  .service-button:hover::before {
  height: 1px;
  width: 100%;
  background-color: #f0493e;
  position: absolute;
  bottom: -1px;
}
.services-modal .services-modal-wrapper .reckonsys-logo-megamenu {
  cursor: pointer;
  position: absolute;
  top: 3rem;
  left: 3.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.4rem;
  width: fit-content;
}
.services-modal .services-modal-wrapper .close-btn {
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
  border: 1px solid #333;
}
.services-modal .services-modal-wrapper .close-btn svg {
  transition: transform 0.3s ease-in-out;
}
.services-modal .services-modal-wrapper .close-btn:hover {
  color: #f0493e;
  border: 1px solid #f0493e;
}
.services-modal .services-modal-wrapper .close-btn:hover svg {
  transform: rotate(90deg);
}
.services-modal .services-modal-wrapper .close-btn:hover svg path {
  stroke: #f0493e;
}
.services-modal .services-modal-wrapper .services-modal-image {
  position: absolute;
  bottom: -12rem;
  left: -10rem;
  width: 52rem;
  height: 52rem;
  object-fit: cover;
  border-radius: 34rem;
}
.services-modal .services-modal-wrapper .rectangle {
  position: absolute;
  right: 0;
  top: 12rem;
  opacity: 0.6;
}
.services-modal .services-modal-wrapper .dotted-mesh {
  position: absolute;
  right: 0;
  bottom: 0;
}
.services-modal .services-modal-wrapper .triangle {
  position: absolute;
  bottom: 0;
  left: 40rem;
}

@media only screen and (max-width: 576px){
  .services-modal .services-modal-wrapper {
    overflow-y: auto;
  }
  .services-modal .services-modal-wrapper .side-header{
    width: 100%;
  }
  .services-modal .services-modal-wrapper .side-header h1 {
    font-size: 3.6rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
  }
  .services-modal .services-modal-wrapper .services-wrapper {
    margin-top: 0rem ;
    width: 90% ;
  }
  .services-modal .services-modal-wrapper .rectangle {
    display: none;
  }
  .services-modal .services-modal-wrapper .triangle {
    display: none;
  }
}
