 .services-main {
    background-color: #333;
  }
  .services-main .software-services {
    padding-top: 12rem;
    padding-bottom: 9rem;
    display: flex;
    gap: 6rem;
    background-color: #f3f3f3;
  }
  .services-main .software-services .left {
    flex-basis: 35%;
    position: relative;
  }
  .services-main .software-services .left .software-services-content {
    position: sticky;
    top: 7rem;
    z-index: 100;
  }

  .services-main .software-services .left .software-services-content>h2{
    margin-bottom: 2.4rem;
  }

  .services-main .software-services .left .software-services-geometric-shape {
    position: absolute;
    bottom: -9rem;
    left: -5.3rem;
  }
  .services-main .software-services .service-card-group {
    display: flex;
    flex-basis: 65%;
    gap: 1.6rem;
    flex-wrap: wrap;
  }
  .services-main .software-services .service-card-group .services-card {
    padding: 4.4rem 2.4rem 4.4rem 3.4rem;
    background-color: #fff;
    width: 48%;
  }
  
  .process-section {
    background: #232020;
  }
  .process-section .process-main {
    padding-top: 10rem;
    position: relative;
  }
  .process-section .process-main .decor-squares {
    position: absolute;
    right: 0;
    top: 8rem;
    height: 27rem;
    width: auto;
  }
  .process-section .process-main .process-map {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5.3rem 0 7rem 0;
    border-bottom: 1px solid #544e4e;
    height: 55rem;
    position: relative;
    overflow: hidden;
  }
  .process-section .process-main .process-map .dotted-mesh {
    position: absolute;
    top: 30rem;
    left: 6rem;
  }
  .process-section .process-main .process-map .process-map-card {
    width: 30%;
    height: 31.3rem;
    position: relative;
    flex-shrink: 0;
    z-index: 50;
    background: linear-gradient(116deg, rgba(218, 110, 110, 0.47) -3.16%, rgba(174, 106, 106, 0.23) 35.01%, rgba(0, 0, 0, 0) 69.39%), conic-gradient(from 140deg at 71.78% 66.29%, #c01111 0deg, #d51e1e 360deg);
    padding: 3.1rem;
  }
  .process-section .process-main .process-map .process-map-card .left-connector {
    position: absolute;
    top: -3.1rem;
    left: -5.1rem;
    z-index: 40;
  }
  .process-section .process-main .process-map .process-map-card .right-connector {
    position: absolute;
    bottom: -3.1rem;
    right: -5.1rem;
    z-index: 40;
  }
  .process-section .process-main .process-map .process-map-card h6 {
    color: #faa480;
  }
  .process-section .process-main .process-map .process-map-card .ul-connecting-line {
    position: absolute;
    left: 3.5rem;
    top: 9rem;
    height: 15rem;
  }
  .process-section .process-main .process-map .process-map-card ul {
    position: relative;
    z-index: 3;
    padding-top: 2.9rem;
    list-style: none;
  }
  .process-section .process-main .process-map .process-map-card ul li {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1.8rem;
  }
  .process-section .process-main .process-map .process-map-card:nth-child(1) {
    position: relative;
    top: 0rem;
  }
  .process-section .process-main .process-map .process-map-card:nth-child(2) {
    position: relative;
    top: 5.5rem;
  }
  .process-section .process-main .process-map .process-map-card:nth-child(1)::before {
   content: "";
   position: absolute;
   width: 68%;
   height: 2px;
   left: 100%;
   border-top: 2px dashed #fff;
   top: 2rem;
   opacity: 0.2;
  }
  .process-section .process-main .process-map .process-map-card:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 2%;
    height: 3.5rem;
    left: 50%;
    border-right: 2px dashed #fff;
    top: -3.5rem;
    opacity: 0.2;
   }
   .process-section .process-main .process-map .process-map-card:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 65%;
    height: 2px;
    right: 100%;
    border-top: 2px dashed #fff;
    bottom: 2rem;
    opacity: 0.2;
   }
   .process-section .process-main .process-map .process-map-card:nth-child(2)::after {
     content: "";
     position: absolute;
     width: 2%;
     height: 3.5rem;
     left: 50%;
     border-right: 2px dashed #fff;
     bottom: -3.5rem;
     opacity: 0.2;
    }
  .process-section .process-main .process-map .process-map-card:nth-child(3) {
    position: relative;
    top: 11rem;
    padding-bottom: 10rem;
  }
  .process-section .process-main .process-map .process-map-button {
    position: absolute;
    bottom: 7rem;
  }
  .process-section .process-main .technologies {
    padding: 5rem 0 2.6rem 0;
  }
  .process-section .process-main .technologies .technology-stack-wrapper {
    display: flex;
    gap: 2.6rem;
    padding: 3.2rem 0 4.6rem 0;
    flex-wrap: wrap;
  }
  .process-section .process-main .technologies .technology-stack-wrapper .technology-stack {
    padding-right: 2.6rem;
    border-right: 1px solid #656565;
  }

  .process-section .process-main .technologies .technology-stack-wrapper .technology-stack:last-child {
    padding-right: 2.6rem;
    border-right: none;
  }

  .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array .tooltip-wrapper{
    position: relative;
  }
  
  .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array .tooltip-wrapper .tooltip-text-wrapper{ 
    position: absolute;
    background:rgba(0,0,0);
    color:white;
    padding:1rem;
    max-width: 30rem;
    width: max-content;
    bottom:calc(100% + 1rem);
    transform:scale(0);
    transition:all 0.3s ease;
    transform-origin: 0% 100%;
  }

  .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array .tooltip-wrapper .tooltip-text-wrapper p{ 
    color:white;
    font-size: 1.4rem;
  }

  .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array .tooltip-wrapper img:hover+.tooltip-text-wrapper{
    transform:scale(1);
  } 


  .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array .logo-wrapper {
    width: 5.6rem;
    height: 5.6rem;
    flex-shrink: 0;
    border-radius: 5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .process-section .process-main .technologies .technology-stack-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .rating-section .rating-main {
    padding-top: 10rem;
    background-color: #f3f3f3;
  }
  .rating-section .rating-main .rating-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rating-section .rating-main .rating-card-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6.3rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #cac8c8;
  }
  .rating-section .rating-main .rating-card-group .rating-card {
    background-color: #fff;
    width: 28.2rem;
    height: 24.3rem;
    padding: 2.8rem 2.7rem 2.2rem 2.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .rating-section .rating-main .rating-card-group .rating-card .rating-header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
  }
  .rating-section .rating-main .rating-card-group .rating-card .rating-header .rating-stars {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2.4rem;
  }
  .rating-section .rating-main .rating-card-group .rating-card:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rating-section .rating-main .rating-card-group .rating-card:last-child img {
    width: 9.2rem;
    height: auto;
  }
  .rating-section .rating-main .client-testimonial-wrapper {
    padding: 5.6rem 0 9.6rem 0;
    position: relative;
  }
  .rating-section .rating-main .client-testimonial-wrapper .client-testimonial {
    width: 80%;
    margin: auto;
    display: flex;
  }
  .rating-section .rating-main .client-testimonial-wrapper .client-testimonial .client-testimonial-profile-img {
    width: 16.2rem;
  }
  .rating-section .rating-main .client-testimonial-wrapper .client-testimonial .client-testimonial-profile-img img {
    width: 100%;
    flex-shrink: 0;
  }
  .rating-section .rating-main .client-testimonial-wrapper .client-testimonial .client-testimonial-content {
    width: 60%;
    padding: 0 4rem 0 4rem;
  }
  .rating-section .rating-main .client-testimonial-wrapper .geometric-triangle {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .industries-section .industries-main {
    padding-top: 10rem;
    padding-bottom: 11rem;
  }
  .industries-section .industries-main .industries-header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 6rem;
  }
  .industries-section .industries-main .industries-header .left {
    flex-basis: 30%;
  }
  .industries-section .industries-main .industries-header .middle {
    flex-basis: 50%;
    padding-bottom: 1rem;
  }
  .industries-section .industries-main .industries-header .right {
    display: flex;
    gap: 1.2rem;
  }
  
  .industries-section .industries-main .industries-header .right #industries-corousel-left-arrow SVG{

    margin-top: 0rem;
  }
  .industries-section .industries-main .sector-card-container .sector-card-group-wrapper::-webkit-scrollbar {
    display: none;
  }
  .industries-section .industries-main .sector-card-container .sector-card-group-wrapper {
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  .industries-section .industries-main .sector-card-container .sector-card-group-wrapper .sector-card-group {
    display: flex;
    gap: 4rem;
  }
  .industries-section .industries-main .sector-card-container .sector-card-group-wrapper .sector-card-group .sector-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f3f3f3;
    min-width: 40rem;
    height: 35rem;
    padding: 3rem 2.8rem;
  }
  .industries-section .industries-main .sector-card-container .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-content .sector-card-header {
    display: flex;
    align-items: center;
    margin-left: -4px;
    margin-bottom: 2.8rem;
    gap: 1rem;
  }
  .industries-section .industries-main .sector-card-container .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-content ul {
    list-style: none;
  }
  .industries-section .industries-main .sector-card-container .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-content ul li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.8rem;
  }
  .industries-section .industries-main .sector-card-container .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-content ul li svg {
    width: 1.7rem;
    height: auto;
  }

  .industries-section .industries-main .sector-card-container .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-footer {
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  .industries-section .industries-main .sector-card-container .sector-card-group-wrapper .sector-card-group .sector-card .sector-card-footer img{
    display: inline-flex;
    height: 5rem;
    max-width: 16rem; 
    object-fit: contain;
    width: auto;
  }

  .why-reckonsys-main{
    display: flex;
    }

    .why-reckonsys-main .left{
        flex-basis: 50%;
    }

  .why-reckonsys-main .right .card p{
        color:#fff;
    }
    .why-reckonsys-main .right .card:nth-child(odd) .why-reckonsys-image{
      width: 75%;
      object-fit: contain;
      height: fit-content;
  }
  .why-reckonsys-main .right .card:nth-child(even) .why-reckonsys-image{
    width: 65%;
    object-fit: contain;
    height: fit-content;
}
  .case-studies-main .case-studies-header {
    display: flex;
    align-items: center;
  }
  .case-studies-main .case-studies-header .right{
    display: flex;
  }
  .case-studies-main .cards-container {
    overflow-x: hidden;
  }
  .case-studies-main .cards-container .cards-wrapper {
    display: flex;
    width: 300%;
    transition: transform 300ms ease-in-out;
  }
  .case-studies-main .cards-container .cards-wrapper .case-study-card {
    display: flex;
    width: 100%;
    transition: transform 300ms ease-in-out;
  }
  .case-studies-main .cards-container .cards-wrapper .case-study-card:nth-child(2) .content {
    background-color: #1c2a5d;
  }
  .case-studies-main .cards-container .cards-wrapper .case-study-card:nth-child(3) .content {
    background-color: #1c5d46;
  }
  .case-studies-main .cards-container .cards-wrapper .case-study-card .content {
    flex-basis: 50%;
    padding: 5.7rem 5.4rem;
    background-color: #0529aa;
  }
  .case-studies-main .cards-container .cards-wrapper .case-study-card .content .data-value-wrapper {
    display: flex;
    gap: 2%;
  }
  .case-studies-main .cards-container .cards-wrapper .case-study-card .content .data-value-wrapper .data-value{
    flex-basis: 49%;
  }
  .case-studies-main .cards-container .cards-wrapper .case-study-card .image-wrapper {
    flex-basis: 50%;
    height: 100%;
  }
  .case-studies-main .cards-container .cards-wrapper .case-study-card .image-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }


  
  
  @media only screen and (max-width: 992px) {
    .company-logo {
      top: 1.8rem;
      left: 1.5rem;
    }
    .company-logo svg {
      width: 2.6rem;
    }
    .services-main .software-services {
      padding-top: 6rem;
      flex-direction: column;
    }
    .services-main .software-services .left .software-services-geometric-shape {
      display: none;
    }
    .services-main .software-services .service-card-group {
      display: flex;
      gap: 1.6rem;
      flex-wrap: wrap;
    }
    .services-main .software-services .service-card-group .services-card {
      width: 100%;
    }
    .process-section .process-main .process-map {
      flex-direction: column;
      gap: 5rem;
      height: auto;
    }
    .process-section .process-main .process-map .process-map-card {
      width: 100%;
    }
    .process-section .process-main .process-map .process-map-card .ul-connecting-line {
      position: absolute;
      left: 3.5rem;
      height: 20rem;
    }
    .process-section .process-main .process-map .process-map-card ul {
      position: relative;
      z-index: 3;
      padding-top: 2.9rem;
      list-style: none;
    }
    .process-section .process-main .process-map .process-map-card ul li {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-bottom: 1.8rem;
    }
    .process-section .process-main .process-map .process-map-card:nth-child(2) {
      position: relative;
      top: 0;
    }
    .process-section .process-main .process-map .process-map-card:nth-child(3) {
      position: relative;
      top: 0;
    }
    .process-section .process-main .process-map .process-map-button {
      position: static;
    }
    .process-section .process-main .technologies {
      padding: 5rem 0 2.6rem 0;
    }
    .process-section .process-main .technologies .technology-stack-wrapper {
      display: flex;
      gap: 2.6rem;
      padding: 3.2rem 0 4.6rem 0;
      overflow: scroll;
    }
    .process-section .process-main .technologies .technology-stack-wrapper .technology-stack {
      padding-right: 2.6rem;
      border-right: 1px solid #656565;
    }
    .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array {
      display: flex;
      gap: 1rem;
    }
    .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array .logo-wrapper {
      width: 5.6rem;
      height: 5.6rem;
      flex-shrink: 0;
      border-radius: 5rem;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .rating-section .rating-main .rating-card-group {
      gap: 4rem;
      flex-wrap: wrap;
    }
    .rating-section .rating-main .rating-card-group .rating-card {
      width: 47%;
    }
    .rating-section .rating-main .client-testimonial-wrapper {
      padding: 5.6rem 0 9.6rem 0;
      position: relative;
    }
    .rating-section .rating-main .client-testimonial-wrapper .client-testimonial {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .rating-section .rating-main .client-testimonial-wrapper .client-testimonial .client-testimonial-profile-img {
      width: 16.2rem;
    }
    .rating-section .rating-main .client-testimonial-wrapper .client-testimonial .client-testimonial-profile-img img {
      width: 100%;
      flex-shrink: 0;
    }
    .rating-section .rating-main .client-testimonial-wrapper .client-testimonial .client-testimonial-content {
      width: 100%;
      padding: 0;
    }
    .rating-section .rating-main .client-testimonial-wrapper .client-testimonial .client-testimonial-quotes {
      margin-left: auto;
      width: 12rem;
      height: auto;
    }
    .rating-section .rating-main .client-testimonial-wrapper .geometric-triangle {
      width: 16rem;
      height: auto;
    }
    .industries-section .industries-main .industries-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      gap: 3rem;
      padding-bottom: 6rem;
    }
    .industries-section .industries-main .industries-header .left {
      flex-basis: 100%;
    }
    .industries-section .industries-main .industries-header .middle {
      flex-basis: 100%;
    }
    .industries-section .industries-main .industries-header .rigt {
      flex-basis: 100%;
    }
    .industries-section .industries-main .sector-card-container .sector-card-group-wrapper {
      overflow: scroll;
    }
    .industries-section .industries-main .sector-card-container .sector-card-group-wrapper .sector-card-group {
      display: flex;
      gap: 3rem;
      width: 100%;
    }
    
    .why-reckonsys-main .left .left-content-wrapper h2 {
      width: 100%;
    }
    .why-reckonsys-main .left .left-content-wrapper p {
      margin-bottom: 3rem;
    }
    .why-reckonsys-main .left .left-content-wrapper svg {
      display: none !important;
    }
    .why-reckonsys-main .right p {
      width: 100%;
    }
    .why-reckonsys-main .right .why-reckonsys-image {
      width: 100%;
      margin-top: 3rem;
    }
    .case-studies-main .case-studies-header .left h2 {
      width: 90%;
      margin-bottom: 3rem;
    }
    .testimonials-main {
      padding-bottom: 5rem;
    }


    .testimonials-main .testimonials-header h2 {
      width: 100%;
    }
    .testimonials-main .testimonials-container .testimonial-card {
      width: 47%;
    }
    .testimonials-main .testimonials-container .testimonial-card:nth-child(3n+2) {
      position: static;
      top: 5rem;
    }
    .blogs-main .blogs-header h2 {
      width: 100%;
    }
    .blogs-main .blogs-container {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
    .blogs-main .blogs-container .blog-card {
      width: 100%;
    }
    .blogs-main .blogs-container .blog-card img {
      width: 100%;
      height: auto;
    }
  }
  @media only screen and (max-width: 768px) {
    
    .services-main .software-services {
      padding-top: 6rem;
      flex-direction: column;
    }
    .services-main .software-services .left .software-services-geometric-shape {
      display: none;
    }
    .services-main .software-services .service-card-group {
      display: flex;
      gap: 1.6rem;
      flex-wrap: wrap;
    }
    .services-main .software-services .service-card-group .services-card {
      width: 100%;
    }
    .process-section .process-main .process-map {
      flex-direction: column;
      gap: 5rem;
      height: auto;
    }
    .process-section .process-main .process-map .path1{
      display: none;
    }
    .process-section .process-main .process-map .path2{
      display: none;
    }
    .process-section .process-main .process-map .process-map-card {
      width: 100%;
    }
    .process-section .process-main .process-map .process-map-card .ul-connecting-line {
      position: absolute;
      left: 3.5rem;
      top: 5rem;
      height: 20rem;
    }
    .process-section .process-main .process-map .process-map-card ul {
      position: relative;
      z-index: 3;
      padding-top: 2.9rem;
      list-style: none;
    }
    .process-section .process-main .process-map .process-map-card ul li {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-bottom: 1.8rem;
    }
    .process-section .process-main .process-map .process-map-card:nth-child(2) {
      position: relative;
      top: 0;
    }
    .process-section .process-main .process-map .process-map-card:nth-child(3) {
      position: relative;
      top: 0;
    }
    .process-section .process-main .process-map .process-map-button {
      position: static;
    }
    .process-section .process-main .technologies {
      padding: 5rem 0 2.6rem 0;
    }
    .process-section .process-main .technologies .technology-stack-wrapper {
      display: flex;
      gap: 2.6rem;
      padding: 3.2rem 0 4.6rem 0;
      overflow: scroll;
    }
    .process-section .process-main .technologies .technology-stack-wrapper .technology-stack {
      padding-right: 2.6rem;
      border-right: 1px solid #656565;
    }
    .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array {
      display: flex;
      gap: 1rem;
    }
    .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array .logo-wrapper {
      width: 5.6rem;
      height: 5.6rem;
      flex-shrink: 0;
      border-radius: 5rem;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .rating-section .rating-main .rating-card-group {
      flex-direction: column;
      gap: 3rem;
    }
    .rating-section .rating-main .rating-card-group .rating-card {
      width: 100%;
    }
    .rating-section .rating-main .client-testimonial-wrapper {
      padding: 5.6rem 0 9.6rem 0;
      position: relative;
    }
    .rating-section .rating-main .client-testimonial-wrapper .client-testimonial {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .rating-section .rating-main .client-testimonial-wrapper .client-testimonial .client-testimonial-profile-img {
      width: 16.2rem;
    }
    .rating-section .rating-main .client-testimonial-wrapper .client-testimonial .client-testimonial-profile-img img {
      width: 100%;
      flex-shrink: 0;
    }
    .rating-section .rating-main .client-testimonial-wrapper .client-testimonial .client-testimonial-content {
      width: 100%;
      padding: 0;
    }
    .rating-section .rating-main .client-testimonial-wrapper .client-testimonial .client-testimonial-quotes {
      margin-left: auto;
      width: 12rem;
      height: auto;
    }
    .rating-section .rating-main .client-testimonial-wrapper .geometric-triangle {
      width: 16rem;
      height: auto;
    }
    .industries-section .industries-main .industries-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      gap: 3rem;
      padding-bottom: 6rem;
    }
    .industries-section .industries-main .industries-header .left {
      flex-basis: 100%;
    }
    .industries-section .industries-main .industries-header .middle {
      flex-basis: 100%;
    }
    .industries-section .industries-main .industries-header .rigt {
      flex-basis: 100%;
    }
    .why-reckonsys-main .left .left-content-wrapper h2 {
      width: 100%;
    }
    .why-reckonsys-main .left .left-content-wrapper p {
      margin-bottom: 3rem;
    }
    .why-reckonsys-main .left .left-content-wrapper svg {
      display: none !important;
    }
    .why-reckonsys-main .right p {
      width: 100%;
    }
    .why-reckonsys-main .right .why-reckonsys-image {
      width: 100%;
      margin-top: 3rem;
    }
    .case-studies-main .case-studies-header .left h2 {
      width: 100%;
      margin-bottom: 3rem;
    }
    .case-studies-main .cards-container .cards-wrapper .case-study-card {
      flex-direction: column;
    }
    .testimonials-main {
      padding-bottom: 5rem;
    }
    .testimonials-main .testimonials-header h2 {
      width: 100%;
    }
    .testimonials-main .testimonials-container .testimonial-card {
      width: 100%;
    }
    .testimonials-main .testimonials-container .testimonial-card:nth-child(3n+2) {
      position: static;
      top: 5rem;
    }
    .blogs-main .blogs-header h2 {
      width: 100%;
    }
    .blogs-main .blogs-container {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
    .blogs-main .blogs-container .blog-card {
      width: 100%;
    }
    .blogs-main .blogs-container .blog-card img {
      width: 100%;
      height: auto;
    }
  }
  @media only screen and (max-width: 576px) {
    
    .services-main .software-services {
      padding-top: 6rem;
      flex-direction: column;
    }
    .services-main .software-services .left .software-services-geometric-shape {
      display: none;
    }
    .services-main .software-services .service-card-group {
      display: flex;
      gap: 2.5rem;
      flex-wrap: wrap;
    }
    .services-main .software-services .service-card-group .services-card {
      width: 100%;
    }
    .process-section .process-main {
      margin-bottom: 2rem;
    }
    .process-section .process-main .process-map {
      flex-direction: column;
      gap: 5rem;
      height: auto;
    }
    .process-section .process-main .decor-squares {
      display: none;
  }
    .process-section .process-main .process-map .dotted-mesh {
      position: absolute;
      width: 100rem;
      height: auto;
      top: 7rem;
      left: 28rem;
      transform: rotate(90deg);
      transform-origin: 0 0;
    }
    .process-section .process-main .process-map .process-map-card {
      width: 100%;
    }
    .process-section .process-main .process-map .path1{
      display: none;
    }
    .process-section .process-main .process-map .path2{
      display: none;
    }
    .process-section .process-main .process-map .process-map-card:nth-child(1)::before {
      display: none;
     }
     .process-section .process-main .process-map .process-map-card:nth-child(2)::before {
       content: "";
       position: absolute;
       width: 2%;
       height: 4.5rem;
       left: 50%;
       border-right: 2px dashed #fff;
       top: -4.7rem;
      }
      .process-section .process-main .process-map .process-map-card:nth-child(3)::before {
       display: none;
      }
      .process-section .process-main .process-map .process-map-card:nth-child(2)::after {
        content: "";
        position: absolute;
        width: 2%;
        height: 4.5rem;
        left: 50%;
        border-right: 2px dashed #fff;
        bottom: -4.7rem;
       }
    .process-section .process-main .process-map .process-map-card .ul-connecting-line {
      position: absolute;
      left: 3.5rem;
      top: 5rem;
      height: 20rem;
    }
    .process-section .process-main .process-map .process-map-card ul {
      position: relative;
      z-index: 3;
      padding-top: 2.9rem;
      list-style: none;
    }
    .process-section .process-main .process-map .process-map-card ul li {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-bottom: 1.8rem;
    }
    .process-section .process-main .process-map .process-map-card:nth-child(2) {
      position: relative;
      top: 0;
    }
    .process-section .process-main .process-map .process-map-card:nth-child(3) {
      position: relative;
      top: 0;
    }
    .process-section .process-main .process-map .process-map-button {
      position: static;
    }
    .process-section .process-main .technologies {
      padding: 5rem 0 2.6rem 0;
    }
    .process-section .process-main .technologies>p{
      line-height: 140% !important;
    }
    .process-section .process-main .technologies .technology-stack-wrapper {
      display: flex;
      gap: 2.6rem;
      padding: 3.2rem 0 4.6rem 0;
      overflow: scroll;
    }
    .process-section .process-main .technologies .technology-stack-wrapper .technology-stack {
      padding-right: 2.6rem;
      border-right: none;
    }
    .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array {
      display: flex;
      gap: 1rem;
    }
    .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array .tooltip-wrapper img{
      width: 4.6rem;
      height: 4.6rem;
    }
    .process-section .process-main .technologies .technology-stack-wrapper .technology-stack .logos-array .logo-wrapper {
      width: 5.6rem;
      height: 5.6rem;
      flex-shrink: 0;
      border-radius: 5rem;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .industries-section .industries-main {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
    .industries-section .industries-main .industries-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      gap: 3rem;
      padding-bottom: 6rem;
    }
    .industries-section .industries-main .industries-header .left {
      flex-basis: 100%;
    }
    .industries-section .industries-main .industries-header .middle {
      flex-basis: 100%;
    }
    .industries-section .industries-main .industries-header .right {
      flex-basis: 100%;
    }
   
    .why-reckonsys-main{
      display: flex;
      flex-direction: column;
      padding-top: 8rem;
      padding-bottom: 0 ;
    }
    .why-reckonsys-main .left .left-content-wrapper h2 {
      width: 100%;
    }
    .why-reckonsys-main .left .left-content-wrapper p {
      margin-bottom: 3rem;
      font-size: 1.8rem;
    }
    .why-reckonsys-main .left  svg {
      display: none !important;
    }
    .why-reckonsys-main .right p {
      width: 100%;
    }
    .why-reckonsys-main .right .why-reckonsys-image {
      width: 100% !important;
      margin-top: 3rem;
    }
    .case-studies-main {
      padding-bottom: 8rem;
    }
    .case-studies-main .case-studies-header{
      flex-direction: column;
      align-items: start !important;
    }

    .case-studies-main .case-studies-header .left h2 {
      width: 100%;
      margin-bottom: 3rem;
    }
    .case-studies-main .cards-container{
      margin-left: -4rem;
      margin-right: -4rem;
    }
    .case-studies-main .cards-container .cards-wrapper .case-study-card {
      flex-direction: column;
    }
    .case-studies-main .cards-container .cards-wrapper .content {
      padding: 3rem !important;
    }
    .case-studies-main .cards-container .cards-wrapper .case-study-card .content .data-value-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }