{%load wagtailimages_tags%}

    <section>
        <div class="sidebar">
            <h5 class="t-20"></h5>
        </div>
        <div class="badgesection-container w-container">
            <div class="badgesection-wrapper pl-54 pr-54">
                <h2 class="elementanim">{{self.title}}</h2>
                <div class="badges-wrapper">
                    {% for badge in self.badgefield %}
                        {% image badge.value.image max-3000x1500 class="elementanim" loading="lazy"%}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    