{%load wagtailimages_tags%}

<section>
        <div class="sidebar">
            <h5 class="t-20">{{self.sidetitle}}</h5>
        </div>
        <div class="blog-section pl-54 pr-54 pb-180 pt-100 w-container">
            <h2 class="mb-64">{{self.title}}</h2>
            <div class="blog-cards-wrapper">
                <!-- Blog 1 Starts -->
                {% for card in self.cards %}
                <a href ="{{card.value.pagelink.get_url}}"class="blog-card">
                    <div class="image-wrapper mb-14">
                        {% image card.value.image max-3000x1500%}
                    </div>
                    <p class="ft-14 mb-28 lh-110">{{card.value.category}}</p>
                    <p class="mb-28 lh-110 card-title">{{card.value.title}}</p>
                    <p class="ft-16 lh-110">{{card.value.info}}</p>
                </a>
                {% endfor %}
                <!-- Blog 1 ends -->
            </div>
        </div>
    </section>