{%load wagtailimages_tags%}


<section>
  <div class="sidebar dark-section"></div>
  <div class="contactustestimonial-wrapper pl-54 pr-54 w-container c-dark">
    <div class="contactus-testimonial">
      <div class="card-wrapper">
        <div class="clutch-rating rating-cards">
          <div class="rating-stars mb-8">

            <svg
              width="26"
              height="24"
              viewBox="0 0 26 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.2 0L16.1636 9.12098H25.7539L17.9952 14.758L20.9588 23.879L13.2 18.242L5.44124 23.879L8.40482 14.758L0.646054 9.12098H10.2364L13.2 0Z"
                fill="#D14F4F"
              />
            </svg>
            <svg
              width="26"
              height="24"
              viewBox="0 0 26 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.2 0L16.1636 9.12098H25.7539L17.9952 14.758L20.9588 23.879L13.2 18.242L5.44124 23.879L8.40482 14.758L0.646054 9.12098H10.2364L13.2 0Z"
                fill="#D14F4F"
              />
            </svg>
            <svg
              width="26"
              height="24"
              viewBox="0 0 26 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.2 0L16.1636 9.12098H25.7539L17.9952 14.758L20.9588 23.879L13.2 18.242L5.44124 23.879L8.40482 14.758L0.646054 9.12098H10.2364L13.2 0Z"
                fill="#D14F4F"
              />
            </svg>
            <svg
              width="26"
              height="24"
              viewBox="0 0 26 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.2 0L16.1636 9.12098H25.7539L17.9952 14.758L20.9588 23.879L13.2 18.242L5.44124 23.879L8.40482 14.758L0.646054 9.12098H10.2364L13.2 0Z"
                fill="#D14F4F"
              />
            </svg>
            <svg
              width="26"
              height="24"
              viewBox="0 0 26 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.2 0L16.1636 9.12098H25.7539L17.9952 14.758L20.9588 23.879L13.2 18.242L5.44124 23.879L8.40482 14.758L0.646054 9.12098H10.2364L13.2 0Z"
                fill="#D14F4F"
              />
            </svg>
          </div>
          <p class="ft-32 lh-110 color-white mb-8">4.9/5</p>
          <p class="ft-16 color-white mb-60">22 Reviews</p>
          <div class="image-wrapper">
          {% image self.clutch_logo max-700x300%}
          </div>
        </div>
        {% for testimonial_card in self.testimonialcards %}
        <div class="rating-cards">
          <svg
            class="mb-24"
            width="34"
            height="25"
            viewBox="0 0 34 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M30.495 18.24C30.495 15.01 28.12 13.11 25.175 13.11C24.415 13.11 23.56 13.205 23.275 13.395C24.225 9.405 28.5 5.415 33.06 4.56L34.01 0C24.32 0.665003 17.195 8.93 17.195 17.765C17.195 22.23 20.14 24.7 23.655 24.7C27.74 24.7 30.495 21.945 30.495 18.24ZM13.3 18.24C13.3 15.01 10.925 13.11 7.98 13.11C7.22 13.11 6.365 13.205 6.08 13.395C7.03 9.405 11.305 5.415 15.865 4.56L16.815 0C7.125 0.665003 0 8.93 0 17.765C0 22.23 2.945 24.7 6.46 24.7C10.545 24.7 13.3 21.945 13.3 18.24Z"
              fill="#DD4545"
            />
          </svg>
          <p class="ft-19 color-white pb-54 mb-12 bb">
            {{testimonial_card.value.review}}
          </p>
          <h4 class="color-white"> {{testimonial_card.value.name}}</h4>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
