{%load wagtailimages_tags%}
{% load static %}

<!-- Herosection starts -->
<section>
    <div class="sidebar">
        <h5>{{self.sidetitle}}</h5>
    </div>
    <div class="servicespage-wrapper  w-container">
        <!-- Herosection Starts -->
        <div class="row herosection ml-54 pt-100 pb-100">
            <div class="w-90">
                <h4 class="mb-20 ft-20 elementanim">{{self.title}}</h4>
                <h1 class="mb-32 hero elementanim w-85">{{self.subtitle}}</h1>
            </div>
            <div class="geometric-shapes">
                {% if self.include_fullimage %}
                <figure class="geometric-connection custom-hero-fullimage">
                    {{self.image_cover|safe}}
                </figure>
                {% else %}
                <figure class="geometric-connection">
                    {{self.image_cover|safe}}
                </figure>
                <figure class="geometric-wave">
                    {{self.image_decor|safe}}
                </figure>
                {% endif %}
            </div>
        </div>
        <!-- Herosection Ends -->
    </div>
</section>
<!-- Herosection Ends -->