{%load wagtailimages_tags%}

<!--culture section starts -->
    <section>
        <div class="sidebar">
            <h5 class="t-15">{{self.sidetitle}}</h5>
        </div>
        <div class="servicespage-wrapper  w-container">

             <!-- culture section main Starts -->
             <div class="culture ml-54 mr-54 pt-100 pb-164">
                <h3 class="lh-110 mb-20 ft-20 elementanim">
                {{self.title}}
                </h3>
                <h2 class="w-75 mb-36 elementanim">
                    {{self.subtitle}}
                </h2>
                <div class="content mb-72 w-70">
                    {{self.content}}
                 </div>
                {% for gallery in self.gallery %}
                 <div class="gallery-container">
                        <div class="gallery-wrapper">
                            {% for image in gallery.value %}
                                {% image image max-3000x1500 class="image elementanim"%}
                            {% endfor %}
                        </div>
                  </div>
                  {% endfor %}
             </div>
            <!-- culture section main Ends -->
        </div>
    </section>
<!--culture section Ends-->