 {%load wagtailimages_tags%}
 {% load wagtailcore_tags %}
<section>
        <div class="sidebar pt-20">
            <h5 class="t-25">{{self.sidetitle}}</h5>
        </div>
        <!-- Engagmnt model section starts -->
        <div class="engagment-section pl-54 pr-54 pt-100 pb-180 w-container">
            <h4 class="mb-20 ft-20 elementanim">
                {{self.title}}
            </h4>
            <h2 class="w-70 mb-54 elementanim">
                {{self.subtitle}}
            </h2>
            <div class="engagment-body">
                <div class="engagement-cards-wrapper">
                {% for engagment_card in self.card%}
                    <div class="engagment-card elementanim">
                        {% image engagment_card.value.icon class="mb-22" max-3000x1500 %}
                        <h4 class="mb-16 ">
                        {{engagment_card.value.title}}
                        </h4>
                        <p >
                         {{engagment_card.value.subtitle}}
                        </p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- Engagmnt model section End -->
    </section>