{%load wagtailimages_tags%}

<!-- Herosection starts -->
<section>
  <div class="sidebar">
    <h5 class="t-25">{{self.sidetitle}}</h5>
  </div>
  
  <div class="herosection-wrapper pl-54 pr-54 w-container">
  <div class="herosection-height">
    {% for content in self.content %}
      <div class="row herosection active">
      <div class="herosection-content">
        <h1 class="mb-22 ft-20 lh-110 category-title">{{content.value.title}}</h1>
        <h1 class="mb-36 hero w-80 title">{{content.value.subtitle}}</h1>
        <a href="{{content.value.btn_link.get_url}}" class="primary-btn">
            {{content.value.btn_title}}
            {% comment %} {% image content.value.btn_icon max-300x200%} {% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="11" viewBox="0 0 28 11" fill="none">
              <path d="M0 1H25L17.9577 10" stroke="#F7F5F4" stroke-width="2"/>
            </svg>
        </a>
      </div>
      <div class="geometric-shapes">
      {% if content.value.include_fullimage %}
        {% image content.value.image_cover max-3000x1500 class="geometric-connection custom-hero-fullimage"%}
      {% else %}
        {% image content.value.image_cover max-3000x1500 class="geometric-connection"%}
        {% image content.value.image_decor max-3000x1500 class="geometric-wave"%}
      {% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="hero-carousel-indicator-group">
        {% if self.content|length != 1 %}
            
            {% for content in self.content %}
            <div></div>
            {% endfor %}
           
        {% endif %}
    </div>
    </div>
    
    {% if self.include_companies %}
        <!-- Quick testimonials Starts-->
    <div class="quick-testimonials">
      <h5 class="lh-110">Trusted by Global Enterprises</h5>
      <div class="client-logos-wrapper">
        <div class="client-logos">
         {% for logo in self.company_image %}
            {% image logo.value.image max-3000x1500 %}
         {% endfor %} 
         {% for logo in self.company_image %}
            {% image logo.value.image max-3000x1500 %}
         {% endfor %} 
        </div>
      </div>
    </div>
    <!-- quick testimonials ends -->
    {% endif %}
  </div>
</section>
<!-- Herosection Ends -->

<script>
  let herosectionTitleCount = {{self.content | length}};
  const categoryHeadings = document.querySelectorAll(
      ".herosection"
    );
    const headingIndicator = document.querySelectorAll(
      ".hero-carousel-indicator-group > *"
    );

    let currentHeading = 0;

    const setActiveHeading = (index) => {
      currentHeading = (index + herosectionTitleCount) % herosectionTitleCount;
      categoryHeadings.forEach((entry) => entry.classList.remove("active"));
      headingIndicator.forEach((entry) => entry.classList.remove("active"));

      categoryHeadings[currentHeading].classList.add("active");
      headingIndicator[currentHeading].classList.add("active");
    };

    setInterval(() => setActiveHeading(currentHeading + 1), 5000);

    setActiveHeading(currentHeading);
</script>
