{%load wagtailimages_tags%}

<!-- Herosection starts -->
<section>
  <div class="sidebar">
    <h5 class="t-25">{{self.sidetitle}}</h5>
  </div>
  
  <div class="herosection-wrapper pl-54 pr-54 w-container">
  <div class="herosection-height">
  {% for content in self.content %}
      <div class="row herosection active">
      <div class="herosection-content">
        <h2 class="mb-20 ft-20 lh-110 category-title elementanim">{{content.value.title}}</h2>
        
        <h1 class="mb-36 hero w-80" >{{content.value.subtitle}}</h1>
        <a href="{% if content.value.include_url_button %}{{content.value.btn_url_link}}{% else %}{{content.value.btn_link.get_url}}{% endif %}"  class="primary-btn elementanim">
            {{content.value.btn_title}}
            
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="11" viewBox="0 0 28 11" fill="none">
              <path d="M0 1H25L17.9577 10" stroke="#F7F5F4" stroke-width="2"/>
            </svg>
        </a>
      </div>
      <div class="geometric-shapes">
      {% if content.value.include_fullimage %}
      <figure class="geometric-connection custom-hero-fullimage">
      {{content.value.image_cover|safe}}
      </figure>
        {% comment %} {% image content.value.image_cover max-3000x1500 class="geometric-connection custom-hero-fullimage elementanim" %} {% endcomment %}
      {% else %}
      <figure class="geometric-connection">
      {{content.value.image_cover|safe}}
      </figure>
      <figure class="geometric-wave">
      {{content.value.image_decor|safe}}
      </figure>
        {% comment %} {% image content.value.image_cover max-3000x1500 class="geometric-connection elementanim" loading="lazy"%}
        {% image content.value.image_decor max-3000x1500 class="geometric-wave elementanim" loading="lazy"%} {% endcomment %}
      {% endif %}
      </div>
    </div>
    {% endfor %} 
    <div class="hero-carousel-indicator-group">
        {% if self.content|length != 1 %}
            
            {% for content in self.content %}
            <div></div>
            {% endfor %}
           
        {% endif %}
    </div>
    </div>
    
    {% if self.include_companies %}
        <!-- Quick testimonials Starts-->
    <div class="quick-testimonials elementanim">
      <h5 class="lh-110 elementanim">Trusted by global enterprises</h5>
      <div class="client-logos-wrapper">
        <div class="client-logos elementanim">
         {% for logo in self.company_image %}
            {% image logo.value.image max-3000x1500 %}
         {% endfor %} 
         {% for logo in self.company_image %}
            {% image logo.value.image max-3000x1500 %}
         {% endfor %} 
        </div>
      </div>
    </div>
    <!-- quick testimonials ends -->
    {% endif %}
  </div>
</section>
<!-- Herosection Ends -->

<script>
  let herosectionTitleCount = {{self.content | length}};
  const categoryHeadings = document.querySelectorAll(".herosection");
  const headingIndicator = document.querySelectorAll(".hero-carousel-indicator-group > *");


  let currentHeading = 0;
  let heroSectionInterval

  const setActiveHeading = (index) => {
    currentHeading = (index + herosectionTitleCount) % herosectionTitleCount;
    categoryHeadings.forEach((entry) => entry.classList.remove("active"));
    headingIndicator.forEach((entry) => entry.classList.remove("active"));

    if (categoryHeadings.length > currentHeading && currentHeading >= 0) {
      categoryHeadings[currentHeading].classList.add("active");
       headingIndicator[currentHeading].classList.add("active");
    }
  };

  for(let [i, indicator] of headingIndicator.entries()){
    indicator.addEventListener('click' , ()=> {
      setActiveHeading(i)
      endHeroSectionInterval()
      startHeroSectionInterval()
    })
  }

  startHeroSectionInterval()

  function startHeroSectionInterval(){
      heroSectionInterval = setInterval(() => setActiveHeading(currentHeading + 1), 5000);
  }

  function endHeroSectionInterval(){
    clearInterval(heroSectionInterval);
  }

  setActiveHeading(currentHeading);
</script> 

