 {% load static %}
 {%load wagtailimages_tags%}
  <!-- Testimonials section starts -->
    <section class="testimonials-section">
      <div class="sidebar">
        <h5 class="t-15">{{self.sidetitle}}</h5>
      </div>
      <div class="testimonials-main pl-54 pr-54 pt-100 w-container c-cream">
        <div
          class="testimonials-header d-flex flex-column align-items-center mb-84"
        >
          <h4 class="mb-20 ft-20">{{self.title}}</h4>
          <h2 class="w-75 text-center">
            {{self.subtitle}}
          </h2>
        </div>
        <div class="testimonials-container">
        {% for card in self.ratingcards%}
          <a href="{{card.value.url}}" target="_blank" class="testimonial_rating-card">
              <div class="rating-header">
                <div class="left">
                  <div class="rating-stars">
                    {% image card.value.star1 max-3000x1500 %}
                    {% image card.value.star2 max-3000x1500 %}
                    {% image card.value.star3 max-3000x1500 %}
                    {% image card.value.star4 max-3000x1500 %}
                    {% image card.value.star5 max-3000x1500 %}
                  </div>
                  <h2>{{card.value.rating}}</h2>
                </div>
                <div class="right">
                  <h2 class="ft-22" >{{card.value.review_count}} Reviews</h2>
                </div>
              </div>
              {% image card.value.logo max-3000x1500 %}
          </a>
        {% endfor %}
        {% for card in self.testimonialcards %}
            <div class="testimonial-card">
                <h3 class="bb pb-33 mb-12 ft-20">
                {{card.value.review}}
                </h3>
                <div class="testimonial-profile">
                  <div class="testimonial-avatar"></div>
                  <div class="profile-content">
                      <h5 class="ft-16">{{card.value.name}}</h5>
                      <p class="ft-16">{{card.value.designation}}</p>
                  </div>
                </div>
            </div>
        {% endfor %}
          <div class="testimonial-gradient"></div>
          <div class="outline-btn hometestimonial-button">
            <div class="hometestimonial-button-text">View More</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="11" viewBox="0 0 28 11" fill="none">
                <path d="M0 1H25L17.9577 10" stroke="#333333" stroke-width="2"/>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonial section ends -->
        <script src="{% static 'blocks/js/hometestimonials.js' %}"></script>
