 {%load wagtailimages_tags%}

 <!-- Career section Starts -->
    <section>
        <div class="sidebar dark-section">
            <h5 class="color-white t-15">Job openings</h5>
        </div>
        <div class="career-main w-container pl-54 pr-54 pb-180 pt-70 c-dark">
            <div class="left pt-70 pb-180">
                <div class="left-wrapper">
                    <h4 class="mb-30 color-white">{{self.title}}</h4>
                    <h2 class="mb-30 color-white">{{self.subtitle}}</h2>
                    <p class="mb-30 color-light-white">{{self.content}}</p>
                    <a href="#" class="outline-btn-white">View job openings <svg width="27" height="11" viewBox="0 0 27 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H25L17.9577 10" stroke="#F7F5F4"/>
                    </svg>
                    </a>
                </div>
                
            </div>
            <div class="right">
            {% for card in self.cards %}
                {%image card.value.image max-3000x1500 class="creators"%}
                <h2 class="">{{card.value.title}}</h2>
            {% endfor %}
            </div>
        </div>
    </section>
    <!-- Career section Ends -->