{%load wagtailimages_tags%}
{% load static %}

 <!-- Life at Reckonsys section Starts -->
    <section>
        <div class="sidebar">
            <h5 class="t-20">{{self.sidetitle}}</h5>
        </div>
        <div class="life-at-reckonsys-main pl-54 pb-180 w-container">
            <div class="header mb-64">
                <h2 class="spline-sans"><span class="gradient-text">Life at Reckonsys</span></h2>
            </div>
            {% for gallery in self.gallery %}
                <div class="gallery-container">
                    <div class="gallery-wrapper">
                       {% for image in gallery.value %}
                            {% image image max-3000x1500 class="image"%}
                       {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- Life at Reckonsys section ends -->
