{%load wagtailimages_tags%} 
{% load static %}
<!-- our process section starts -->
<section>
  <div class="sidebar dark-section z-class">
    <h5 class="color-white t-15">{{self.sidetitle}}</h5>
  </div>
  <div class="our-process-main pl-54 pr-54 pt-100 pb-180 w-container c-dark">
    <div class="our-process-card-container">
      <div class="our-process-card-wrapper">
        <div class="our-process-card-wrapper-content">
          <h3 class="lh-110 mb-20 ft-20 color-white">{{self.title}}</h3>
          <h2 class="color-light-white lh-125 mb-32 w-100">{{self.subtitle}}</h2>
          <p class="color-light-white w-70">{{self.content}}</p>
        </div>
        <div class="line-slider">
          <div class="slider-marker"></div>
        </div>
        <div class="our-process-card-width">
          {% for card in self.ourprocesscards %}
            <div class="our-process-card ">
              <h2>{{card.value.number}}</h2>
              <h3 class="color-light-white mb-24 lh-145">{{card.value.title}}</h3>
              <p class="ft-16 color-light-white">{{card.value.content}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our process section ends -->

<script src="{% static 'blocks/js/ourprocess-min.js' %}" defer></script>

