{%load wagtailimages_tags%}

<!-- Testimonial section Starts -->

     <section>
        <div class="sidebar">
            <h5 class="t-20">{{self.sidetitle}}</h5>
        </div>
        <!-- Services page testimonial starts -->
        <div class="reckonsys-testimonial-section pl-54  pr-54 w-container">
            <div class="testimonial-wrapper pb-180 bb">
                <div class="left">
                    {% image self.image class="w-100 elementanim" max-3000x1500%}
                </div>
                <div class="right elementanim">
                    {{self.content}}
                    <h4 class="ft-22 mb-8 ft-900 elementanim">{{self.name}}</h4>
                    <h6 class="elementanim">{{self.designation}}</h6>
                </div>
                {% image self.svg max-3000x1500 class="quotes" %}
            </div>
        </div>
        <!-- Services page testimonial Ends -->
    </section>
    <!-- Testimonial section ends -->