{%load wagtailimages_tags%}

<!-- Herosection starts -->
    <section>
        <div class="sidebar">
            <h5>{{self.sidetitle}}</h5>
        </div>
        <div class="servicespage-wrapper  w-container">
            <!-- Our vision Starts-->
             <div class="our-vision ml-54 mr-54">
                <h3 class="lh-110 ft-20 mb-20 elementanim">{{self.title}}</h3>
                <h2 class="w-70 mb-72 elementanim">
                    {{self.subtitle}}
                </h2>
                <div class="vision-gallery-container">
                    <div class="vision-gallery">
                        {% image self.cover_image max-3000x1500 class="w-100 elementanim"%}
                    </div>
                    <div class="vision-gallery">
                        <div class="inner-container">
                        {% image self.image1 max-3000x1500 class="w-100 elementanim"%}
                        </div>
                        <div class="inner-container">
                        {% image self.image2 max-3000x1500 class="w-100 elementanim"%}
                        </div>
                        <div class="inner-container">
                        {% image self.image3 max-3000x1500 class="w-100 elementanim"%}
                        </div>
                        <div class="inner-container">
                        {% image self.image4 max-3000x1500 class="w-100 elementanim"%}
                        </div>
                        <div class="inner-container">
                        {% image self.image5 max-3000x1500 class="w-100 elementanim"%}
                        </div>
                        <div class="inner-container">
                        {% image self.image6 max-3000x1500 class="w-100 elementanim"%}
                        </div>
                    </div>
                </div>
             </div>
            <!-- Our Vision Ends-->
        </div>
    </section>
    <!-- Herosection Ends -->