<!-- Herosection starts -->
    <section>
        <div class="sidebar">
            <h5>About us</h5>
        </div>
        <div class="servicespage-wrapper  w-container">

            <!-- Our vision Starts-->
             <div class="our-vision ml-54 mr-54">
                <h3 class="lh-110 mb-30">Our Vision</h3>
                <h2 class="w-70 mb-72">
                    Building a Pragmatic,<span class="gradient-text">Efficient & Scalable</span>  technology foundation for startups with agility, maturity and market awareness
                </h2>
                <div class="vision-gallery">
                    <img src="./res/images/our-vision-pic-1.png" alt="">
                    <img src="./res/images/our-vision-img-2.png" alt="">
                </div>
             </div>
            <!-- Our Vision Ends-->
        </div>
    </section>
    <!-- Herosection Ends -->