<!-- Herosection starts -->
    <section>
        <div class="sidebar">
            <h5 class="t-15">{{self.sidetitle}}</h5>
        </div>
        <div class="servicespage-wrapper  w-container">
            <!-- Our values Starts -->
            <div class="our-values ml-54 mr-54 pb-180">
                <h3 class="mb-32 ft-20">{{self.title}}</h3>
                <div class="typography">
                    <h1 class="ft-102">{{self.word1}}</h1>
                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="18.5" cy="18.5" r="18.5" fill="#D2112B"/>
                    </svg>                        
                    <h1 class="ft-102">{{self.word2}}</h1>
                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="18.5" cy="18.5" r="18.5" fill="#D2112B"/>
                    </svg>                        
                    <h1 class="ft-102">{{self.word3}}</h1>
                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="18.5" cy="18.5" r="18.5" fill="#D2112B"/>
                    </svg>  
                    <h1 class="ft-102">{{self.word4}}</h1>
                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="18.5" cy="18.5" r="18.5" fill="#D2112B"/>
                    </svg> 
                    <h1 class="ft-102">{{self.word5}}</h1>
                </div>
            </div>
            <!-- Our values Ends -->
        </div>
    </section>
    <!-- Herosection Ends -->