{%load wagtailimages_tags%}

<!-- Herosection starts -->
<section>
  <div class="sidebar theme-darkgreen">
    <h5 class="color-white t-20">{{self.sidetitle}}</h5>
  </div>
  <div class="ourwork-herosection-wrapper pl-54 pr-54 pt-100  w-container theme-darkgreen">
    <div class="herosection">
      <div class="herosection-content w-75">
        <h4 class="color-white ft-20 mb-20 elementanim">{{self.title}}</h4>
        <h1 class="hero color-white mb-58 elementanim">
          {{self.subtitle}}
        </h1>
        <p class="mb-40 color-light-white ft-20 w-70 elementanim">
          {{self.content}}
        </p>
        {% for button in self.primary_button  %}
            {{button}}
        {% endfor %}
      </div>
      <div class="ourworks-heroimage-container">
        {% image self.image max-3000x1500 class="ourworks-heroimage elementanim"%}
      </div>
    </div>
  </div>
</section>
<!-- Herosection Ends -->


