{%load wagtailimages_tags%}

<!-- Herosection starts -->
<section>
  <div class="sidebar theme-darkgreen"></div>
  <div class="ourwork-display pt-100 pb-180 w-container theme-darkgreen">
        <h2 class="pl-54 color-white mb-22 w-70 mb-64">{{self.title}}</h2>
        <p class="pl-54 color-light-white ft-20 w-60 mb-72">
          {{self.subtitle}}
        </p>
        <div class="category-container pl-54  mb-120">
        <div class="category-wrapper">
            {% for categorytitle in self.categorytitles %}
                {% for title in categorytitle.value %}
                <p class="color-white">{{title}}</p>
                {% endfor %}
            {% endfor %}
        </div>
        </div>
        {% for card in self.cards %}
            <div class="our-works-card" style="background-color: #{{card.value.bgcolor}}">
                <div class="content">
                    <h2 class="color-white w-80 mb-36">
                   {{card.value.title}}
                    </h2>
                    <p
                    class="color-light-white opacity8 w-90 mb-54"
                    >
                    {{card.value.subtitle}}
                    </p>
                    <div class="stats-group">
                        <div class="stat">
                            <h3 class="color-white mb-8">{{card.value.data1}}</h3>
                            <p class="color-white">{{card.value.label1}}</p>
                        </div>
                        <div class="stat">
                            <h3 class="color-white mb-8">{{card.value.data2}}</h3>
                            <p class="color-white">{{card.value.label2}}</p>
                        </div>
                    </div>
                </div>
                <div class="image-wrapper">
                    {% image card.value.image max-3000x1500 class="card-image"%}
                </div>
            </div>
        {% endfor %}
        
    </div>
  </div>
</section>
<!-- Herosection Ends -->


