{%load wagtailimages_tags%} 
{% load static %}

    <section>
        <div class="sidebar">
            <h5 class="t-15">{{self.sidetitle}}</h5>
        </div>
        <div class="privacypolicy-wrapper  w-container">
           <div class="privacypolicy-main">
                <div class="content">
                    <h1 class="hero mb-54 ">{{self.title}}</h1>
                    <h3 class="mb-32">{{self.datetitle}} <span class="date">{{self.date}}</span></h3>
                    <p class="mb-24 ">{{self.welcomeline}}</p>
                    <p class="mb-32 ">{{self.commitment}}</p>
                    <div class="main-text ">
                        {% for edittext in self.edittextfield %}
                            {{edittext.value.edittext}}
                        {% endfor %}
                    </div>
                </div>
                <div class="geometric-shapes">
                    {% image self.mainimage max-3000x1500 class="geometric-circle"%}
                    {% image self.decorimage max-3000x1500 class="geometric-decor"%}
                </div>
           </div>
        </div>
    </section>