{% load wagtailimages_tags%}
{% load static %}
{% load wagtailcore_tags %}
<section>
        <div class="sidebar pt-20">
            <h5 class="t-20">{{self.sidetitle}}</h5>
        </div>
        <!-- software services stats starts -->
        <div class="services-stats-section w-container pl-54 pt-100  pr-54">
            <svg class="geometric-rectangle" width="55" height="178" viewBox="0 0 55 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 10.0801V15.561L12.492 0H8.09204L0 10.0801Z" fill="url(#paint0_linear_4508_5327)"/>
                    <path d="M19.9999 0L0 24.9134V30.3944L24.3999 0H19.9999Z" fill="url(#paint1_linear_4508_5327)"/>
                    <path d="M31.9077 0L0 39.7467V45.2277L36.3077 0H31.9077Z" fill="url(#paint2_linear_4508_5327)"/>
                    <path d="M43.8156 0L0 54.5801V60.061L48.2156 0H43.8156Z" fill="url(#paint3_linear_4508_5327)"/>
                    <path d="M55 0.901168L0 69.4134V74.8944L55 6.38214V0.901168Z" fill="url(#paint4_linear_4508_5327)"/>
                    <path d="M55 15.7345L0 84.2467V89.7277L55 21.2155V15.7345Z" fill="url(#paint5_linear_4508_5327)"/>
                    <path d="M55 30.5678L0 99.0801V104.561L55 36.0488V30.5678Z" fill="url(#paint6_linear_4508_5327)"/>
                    <path d="M55 45.4012L0 113.913V119.394L55 50.8821V45.4012Z" fill="url(#paint7_linear_4508_5327)"/>
                    <path d="M55 60.2345L0 128.747V134.228L55 65.7155V60.2345Z" fill="url(#paint8_linear_4508_5327)"/>
                    <path d="M55 75.0678L0 143.58V149.061L55 80.5488V75.0678Z" fill="url(#paint9_linear_4508_5327)"/>
                    <path d="M55 89.9012L0 158.413V163.894L55 95.3821V89.9012Z" fill="url(#paint10_linear_4508_5327)"/>
                    <path d="M55 104.734L0 173.247V178H0.584184L55 110.215V104.734Z" fill="url(#paint11_linear_4508_5327)"/>
                    <path d="M55 119.568L8.09204 178H12.492L55 125.049V119.568Z" fill="url(#paint12_linear_4508_5327)"/>
                    <path d="M55 134.401L19.9999 178H24.3999L55 139.882V134.401Z" fill="url(#paint13_linear_4508_5327)"/>
                    <path d="M55 149.234L31.9077 178H36.3077L55 154.715V149.234Z" fill="url(#paint14_linear_4508_5327)"/>
                    <path d="M55 164.068L43.8156 178H48.2156L55 169.549V164.068Z" fill="url(#paint15_linear_4508_5327)"/>
                    <defs>
                    <linearGradient id="paint0_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint3_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint4_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint5_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint6_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint7_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint8_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint9_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint10_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint11_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint12_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint13_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint14_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    <linearGradient id="paint15_linear_4508_5327" x1="27.5" y1="0" x2="27.5" y2="178" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EF7160"/>
                    <stop offset="1" stop-color="#941209"/>
                    </linearGradient>
                    </defs>
            </svg>
            <h2 class="mb-84 w-50">{{self.content}}</h2>
            <div class="stats-wrapper w-80 pb-82 bb">
            {% for datasection_stat in self.stat%}
                <div class="stat-card">
                    <h1 class="stats">{{datasection_stat.value.data}}</h1>
                    <h4>{{datasection_stat.value.title}}</h4>
                </div>
            {% endfor %}
            </div>
        </div>
        <!-- sofware services stats ends -->
    </section>

        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js" ></script>
        <script src="{% static 'blocks/js/numberscount-min.js' %}" ></script>
   
