{% load static %}
{% load wagtailimages_tags%}
{% load wagtailcore_tags%}
 
 <!-- Case Studies section starts -->
    <section class="case-studies-section">
      <div class="sidebar">
        <h5 class=" spaced-word t-15">{{self.sidetitle}}</h5>
      </div>
      <div
        class="case-studies-main pl-54 pr-54 w-container"
      >
        <div class="case-studies-header d-flex align-items-center mb-54 row {% if self.removebuttons %}w-70{% endif %}">
          <div class="left col-md-10">
            <h4 class="mb-20 ft-20 lh-110 elementanim">
            {{self.title}}
            </h4>
            <h2 class="w-90 elementanim">
             {{self.content}}
            </h2>
          </div>
          <div class="right d-flex col-md-2" {% if self.removebuttons %}style="display: none;"{% endif %}>
          <div id="caseStudies-left-arrow" class="outline-btn carousal-outline-btn caseStudies-left-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="24" viewBox="0 0 15 24" fill="none">
                <path d="M14 1L2 13.1732L14 23" stroke="#333" stroke-width="2"/>
              </svg>
            </div>
            <div id="caseStudies-right-arrow" class="outline-btn carousal-outline-btn ml-12 caseStudies-right-arrow">
             <svg xmlns="http://www.w3.org/2000/svg" width="15" height="24" viewBox="0 0 15 24" fill="none">
                <path d="M1 1L13 13.1732L1 23" stroke="#333" stroke-width="2"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="cards-container">
          <div class="cards-wrapper cards-wrapper-main" >
          {% for casestudies_card in self.card %}
            <div class="case-study-card elementanim">
              <div class="content" style='background-color: #{{casestudies_card.value.bgcolor}};'>
                <h3 class="color-white mb-27 ft-32 w-80 lh-115">
                  {{casestudies_card.value.title}}
                </h3>
                <p class="color-white mb-27">
                  {{casestudies_card.value.subtitle}}
                </p>
                <div class="data-value-wrapper">
                  <div class="data-value">
                    <h3 class="mb-8 color-white ft-32 lh-115">{{casestudies_card.value.data1}}</h3>
                    <p class="color-white">{{casestudies_card.value.label1}}</p>
                  </div>
                  <div class="data-value">
                    <h3 class="mb-8 color-white ft-32 lh-115">{{casestudies_card.value.data2}}</h3>
                    <p class="color-white">{{casestudies_card.value.label2}}</p>
                  </div>
                </div>
              </div>
              <div class="image-wrapper">
                {% image casestudies_card.value.cover_image max-3000x1500%}
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- Case Studies section Ends -->

    <script src="{% static 'blocks/js/services_casestudies.js' %}"></script>