{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
<section>
  <div class="sidebar pt-20" style="background-color: #{{self.backgroundcolor}}">
    <h5 class="t-20" style="color: #{{self.maintextcolor}}">{{self.sidebar}}</h5>
  </div>
  <!-- Engagmnt model section starts -->
  <div class="whyreckonsys-section pl-54 pt-100 pb-180 w-container" style="background-color: #{{self.backgroundcolor}}">
    <div class="left">
      <div class="whyreckonsys-header">
        <h4 class="mb-20 ft-20" style="color: #{{self.maintextcolor}}">{{self.title}}</h4>
        <h2 class="w-70 mb-32" style="color: #{{self.maintextcolor}}">{{self.subtitle}}</h2>
        <p class="mb-54 lh-140 w-80" style="color: #{{self.maintextcolor}}">{{self.content}}</p>
      </div>
      <div class="cards-wrapper">
        {% for card in self.card %}
        <div class="whyreckonsys-card">
          <h2 class="mb-12 w-70">{{card.value.number}}</h2>
          <h4 class="mb-14" style="color: #{{self.maintextcolor}}">{{card.value.title}}</h4>
          <p class="ft-16 o-8" style="color: #{{self.maintextcolor}}">{{card.value.content}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="decor-rectangles-container">
      <svg class="decor-rectangles" width="161" height="315" viewBox="0 0 161 315" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="126.57" width="202" height="179" transform="rotate(45 126.57 0)" fill="#F86638"/>
        <rect x="127.266" y="46.8789" width="202" height="176" transform="rotate(45 127.266 46.8789)" fill="#D51919"/>
      </svg>
    </div>
  </div>
  <!-- Engagmnt model section End -->
</section>
