{% load static %}
{% load wagtailimages_tags%}
{% load wagtailcore_tags%}
  
  <!-- Process section starts -->
    <section class="technologies-section">
      <div class="sidebar">
        <h5 class="color-white t-15"></h5>
      </div>
      <!-- complete process section wrapper -->
      <div class="technologies-main pl-54 pr-54 w-container">
        <div class="technologies">
          <h5 class="mb-12 lh-110 elementanim">
            {{self.title}}
          </h5>
          <p class=" ft-16 lh-110 elementanim">
            {{self.subtitle}}
          </p>
          <div class="technology-stack-wrapper">
          {% for tooltipgroup in self.tooltipgroup%}
            <div class="technology-stack elementanim">
              <h5 class="mb-14 o-5 ft-12">
                {{tooltipgroup.value.title}}
              </h5>
              <div class="logos-array">
              
                {% for tooltip in tooltipgroup.value.tooltip%}
                <div class="tooltip-wrapper">
                  {% image tooltip.value.image max-3000x1500%}
                  <div class="tooltip-text-wrapper">
                    <p class="tooltip-text">{{tooltip.value.title}}</p>
                  </div>
                </div>
                {% endfor %}
                
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <!-- End of complete process section wrapper -->
    </section>
    <!-- process section ends -->