{%load wagtailimages_tags%}

<!-- Testimonial section Starts -->
<section>
  <div
    class="sidebar"
    style="background-color: #{{self.bgcolor}}; border-right: 1px solid #566166;"
  >
    <h5 class="t-15" style="color: #{{self.fontcolor}}">{{self.sidetitle}}</h5>
  </div>
  <!-- Services page testimonial starts -->
  <div
    class="testimonialgeneric-section pl-54 pr-54 w-container"
    style="background-color: #{{self.bgcolor}}"
  >
    <div
      class="testimonial-wrapper"
      style="background-color: #{{self.bgcolor}}"
    >
      <div class="left">
        {% image self.image class="w-100" max-3000x1500 %}
      </div>
      <div class="right">
        <p
          class="mb-40 w-70 ft-30  elementanim"
          style="color: #{{self.fontcolor}}"
        >
          {{self.content}}
        </p>
        <h4
          class="ft-22 mb-8 ft-700 elementanim"
          style="color: #{{self.fontcolor}}"
        >
          {{self.name}}
        </h4>
        <h6 class="f-400 elementanim" style="color: #{{self.fontcolor}}">
          {{self.designation}}
        </h6>
      </div>
      {% image self.svg max-3000x1500 class="geometric-image" %}
    </div>
  </div>
  <!-- Services page testimonial Ends -->
</section>
<!-- Testimonial section ends -->
