 {%load wagtailimages_tags%}
 <!-- contact and Footer section Starts -->
    <section class="contact-section">
      <div class="sidebar dark-section">
        <h5 class="color-white spaced-word">Contact Us</h5>
      </div>
      <div class="contact-main pl-54 pr-54 pt-100 w-container c-dark">
        <div class="thankyou-container">
          <div class="left">
            <h1 class="hero">
              Thank you for reaching out to us.
            </h1>
            <h3>We will get in touch with you regarding your request within one business day.</h3>
          </div>
          <div class="right">
            <% image self.image_cover max-3000x1500%>
            <% image self.image_decor max-3000x1500%>
          </div>
        </div>
      </div>
    </section>
    <!-- contact and Footer section Ends -->

    <script src="{% static 'blocks/js/contactus.js' %}"></script>
