.errorpage-body{
    width: 100%;
    height: 100dvh;
    background-color: #172125;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.errorpage-body .background-errorpage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
}
.errorpage-body .error-image{
    display: flex;
    z-index: 2;
}

.errorpage-body h1{
    font-size: 7.2rem; 
    margin-top: 3.6rem;
    z-index: 2;
}

.errorpage-body h6 {
    font-size: 2rem; 
    margin-top: 2.4rem;
    z-index: 2;
}

.errorpage-body h6 a{
    color: #ED7F5C;
    text-decoration: underline;
    cursor: pointer;
}