@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap");

html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

.font-orange {
  color: #f7722f;
}
.font-pink {
  color: #d2112b;
}
.hero-title {
  margin-bottom: 3.6rem;
  font-size: 7.2rem;
  font-family: "Satoshi-Bold";
  color: #333;
  line-height: 120%;
  width: 80%;
}

h1 {
  font-size: 6.4rem;
  font-family: "Satoshi-Bold";
  color: #333;
  margin-bottom: 0;
  line-height: 120%;
}

h1.hero {
  font-size: 7.2rem;
  font-family: "Satoshi-Bold";
  color: #333;
  line-height: 120%;
}

h2 {
  font-size: 4.2rem;
  font-family: "Satoshi-Bold";
  color: #333;
  margin-bottom: 0;
  line-height: 125%;
}
h2.spline-sans {
  font-size: 4.2rem;
  font-family: "Spline sans";
  font-weight: 400;
  line-height: 140%;
}

h3 {
  font-size: 2.4rem;
  font-family: "Satoshi-Bold";
  color: #333;
  margin-bottom: 0;
  line-height: 140%;
}

h4 {
  font-size: 2rem;
  font-family: "Satoshi-Bold";
  color: #333;
  margin-bottom: 0;
  line-height: 140%;
}

h5 {
  font-size: 1.8rem;
  font-family: "Satoshi-Bold";
  margin-bottom: 0;
  line-height: 140%;
}

h6 {
  font-size: 1.4rem;
  font-family: "Satoshi-Bold";
  margin-bottom: 0;
  line-height: 140%;
}

p {
  font-size: 1.8rem;
  font-family: "Spline sans";
  font-weight: 400;
  color: #333;
  margin-bottom: 0;
  line-height: 155%;
}

p p {
  font-size: 1.8rem;
  font-family: "Spline sans";
  font-weight: 400;
  color: #333;
  margin-bottom: 0;
  line-height: 155%;
}

h2 p {
  font-size: 4.2rem;
  font-family: "Satoshi-Bold";
  color: #333;
  margin-bottom: 0;
  line-height: 125%;
}

h2 p b {
  background: linear-gradient(89deg, #333 5.49%, #f77b45 96.99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2.color-white p {
  font-size: 4.2rem;
  font-family: "Satoshi-Bold";
  color: #fff;
  margin-bottom: 0;
  line-height: 125%;
}
h2.color-white p b {
  background: linear-gradient(92deg, #f7f5f4 21.9%, #f7722f 53.55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2.color-white .gradient-text-light {
  background: linear-gradient(92deg, #f7f5f4 21.9%, #f7722f 53.55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2.color-light-white p {
  font-size: 4.2rem;
  font-family: "Satoshi-Bold";
  color: #fff;
  margin-bottom: 0;
  line-height: 125%;
}
h2.color-light-white p b {
  background: linear-gradient(92deg, #f7f5f4 21.9%, #f7722f 53.55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2.color-light-white .gradient-text-light {
  background: linear-gradient(92deg, #f7f5f4 21.9%, #f7722f 53.55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ol,
ul {
  padding-left: 0rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0rem;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.ft-10{
  font-size: 1rem;
}
.ft-12 {
  font-size: 1.2rem;
}

.ft-14 {
  font-size: 1.4rem;
}

.ft-16 {
  font-size: 1.6rem;
}
.ft-20 {
  font-size: 2rem;
}

.ft-22 {
  font-size: 2.2rem;
}

.ft-24 {
  font-size: 2.4rem;
}

.ft-26 {
  font-size: 2.6rem;
}

.ft-28 {
  font-size: 2.8rem;
}

.ft-30 {
  font-size: 3rem;
}

.ft-32 {
  font-size: 3.2rem;
}

.ft-38 {
  font-size: 3.8rem;
}

.ft-40 {
  font-size: 4rem;
}

.ft-42 {
  font-size: 4.2rem;
}

.ft-52 {
  font-size: 5.2rem;
}

.ft-102 {
  font-size: 10.2rem;
}

.f-400 {
  font-family: "Satoshi-Regular";
}

.ft-900 {
  font-family: "Satoshi-Black";
}

.fw-500 {
  font-weight: 500;
  font-family: "Satoshi-medium";
}

.color-white {
  color: #fff !important;
}

.color-light-white {
  color: #f7f5f4 !important;
}

.color-grey {
  color: #868686;
}

.gradient-text {
  background: linear-gradient(89deg, #333 5.49%, #f77b45 96.99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ft-27 {
  font-size: 2.7rem;
}

a {
  text-decoration: none;
  color: #333;
}

.primary-btn {
  display: inline-block;
  height: 4.8rem;
  width: fit-content;
  gap: 3rem;
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Satoshi-Black";
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background: linear-gradient(270deg, #ce4961 8.92%, #c94d45 84.76%);
  border: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  cursor: pointer;
  svg {
    margin-top: 0.8rem;
  }
  &.fix-width {
    width: 26.9rem;
    justify-content: space-between;
  }
}
.primary-btn::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.primary-btn:hover::before {
  width: 100%;
  border: 1px solid #ce4961;
}
.primary-btn:hover svg {
  color: #c94d45;
}

.primary-btn:hover svg path {
  stroke: #c94d45;
}

.primary-btn:hover {
  color: #ce4961;
}
.outline-btn {
  display: inline-block;
  width: 26.9rem;
  height: 4.8rem;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-family: "Satoshi-Black";
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background: #fff;
  position: relative;
  border: 1px solid #333;
  z-index: 1;
  svg {
    margin-top: 0.8rem;
  }
}

.outline-btn:hover svg path {
  stroke: #fff;
}

.outline-btn::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #333;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.outline-btn:hover::before {
  width: 100%;
  border: 1px solid #333;
}

.outline-btn:hover {
  color: #fff;
}

.outline-btn:hover h4 {
  color: #fff;
}

.outline-btn-white {
  display: inline-flex;
  width: auto;
  height: 4.3rem;
  padding: 1.2rem 2rem;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  color: #fff;
  font-family: "Satoshi-Black";
  font-size: 1.4rem;
  font-weight: dark;
  line-height: 140%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  svg {
    margin-top: 0.8rem;
  }
}
.outline-btn-white:hover {
  color: #333 !important;
}

.outline-btn-white > h4 {
  color: #fff;
}

.outline-btn-white svg path {
  stroke-width: 2px;
}
.outline-btn-white:hover svg path {
  stroke: #fff;
  stroke-width: 2px;
}
.outline-btn-white::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.outline-btn-white:hover::before {
  width: 100%;
  border: 1px solid #fff;
}

.outline-btn-white:hover {
  color: #fff;
  border: 1px solid #fff;
}

.outline-btn-white:hover h4 {
  color: #333;
}
.outline-btn-white:hover svg path {
  stroke: #333;
}
.outline-btn-white:hover {
  opacity: 0.95;
}
.outline-btn-white:hover img {
  transform: translateX(5px);
  transition: all 0.2s ease-in-out;
}

svg {
  display: inline-block;
  flex-shrink: 0;
}

.carousal-outline-btn {
  margin-bottom: 2rem;
  width: fit-content;
  height: fit-content;
  border: 2px solid #cfcfcf;
  padding: 2rem 2.5rem;
}
.carousal-outline-btn:hover {
  border: 2px solid #333;
}
.carousal-outline-btn svg {
  margin-top: 0;
  height: fit-content;
}
.w-110 {
  width: 110%;
}

.w-105 {
  width: 105%;
}

.w-95 {
  width: 95%;
}
.w-90 {
  width: 90%;
}

.w-85 {
  width: 85%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}

.w-65 {
  width: 65%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.pl-54 {
  padding-left: 5.4rem;
}
.pr-54 {
  padding-right: 5.4rem;
}

.ml-54 {
  margin-left: 5.4rem;
}

.ml-44 {
  margin-left: 4.4rem;
}

.mr-54 {
  margin-right: 5.4rem;
}

.pt-200 {
  padding-top: 20rem;
}

.pt-100 {
  padding-top: 10rem;
}

.pt-24 {
  padding-top: 2.4rem;
}

.pt-190 {
  padding-top: 19rem;
}

.pb-24 {
  padding-bottom: 2.4rem;
}

.pb-33 {
  padding-bottom: 3.3rem;
}
.pb-54 {
  padding-bottom: 5.4rem;
}

.pb-82 {
  padding-bottom: 8.2rem;
}

.pb-100 {
  padding-bottom: 10rem;
}

.pb-164 {
  padding-bottom: 16.4rem;
}

.pb-180 {
  padding-bottom: 18rem;
}

.pb-200 {
  padding-bottom: 20rem;
}
.pb-260 {
  padding-bottom: 26rem;
}
.ml-12 {
  margin-left: 1.2rem;
}
.ml-66 {
  margin-left: 6.6rem;
}
.ml-162 {
  margin-left: 16.2rem;
}

.mt-14 {
  margin-top: 1.4rem;
}
.mt-30 {
  margin-top: 3rem;
}
.pt-70 {
  padding-top: 7rem;
}
.mb-8 {
  margin-bottom: 0.8rem;
}
.mb-12 {
  margin-bottom: 1.2rem;
}
.mb-14 {
  margin-bottom: 1.4rem;
}
.mb-16 {
  margin-bottom: 1.6rem;
}
.mb-18 {
  margin-bottom: 1.8rem;
}

.mb-19 {
  margin-bottom: 1.9rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
.mb-22 {
  margin-bottom: 2.2rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.mb-26 {
  margin-bottom: 2.6rem;
}

.mb-27 {
  margin-bottom: 2.7rem;
}

.mb-28 {
  margin-bottom: 2.8rem;
}

.mb-30 {
  margin-bottom: 3rem;
}
.mb-32 {
  margin-bottom: 3.2rem;
}
.mb-36 {
  margin-bottom: 3.6rem;
}
.mb-39 {
  margin-bottom: 3.9rem;
}
.mb-40 {
  margin-bottom: 4rem !important;
}
.mb-46 {
  margin-bottom: 4.6rem;
}
.mb-50 {
  margin-bottom: 5rem;
}
.mb-54 {
  margin-bottom: 5.4rem;
}

.mb-58 {
  margin-bottom: 5.8rem;
}

.mb-60 {
  margin-bottom: 6rem;
}

.mb-64 {
  margin-bottom: 6.4rem;
}
.mb-72 {
  margin-bottom: 7.2rem;
}

.mb-80 {
  margin-bottom: 8rem;
}

.mb-84 {
  margin-bottom: 8.4rem !important;
}

.mb-92 {
  margin-bottom: 9.2rem;
}

.mb-106 {
  margin-bottom: 10.6rem;
}

.mb-120 {
  margin-bottom: 12rem;
}
.mb-140 {
  margin-bottom: 14rem;
}
.mb-160 {
  margin-bottom: 16rem;
}
.mb-196 {
  margin-bottom: 19.6rem;
}
.m-auto {
  margin: auto;
}
.mt-64 {
  margin-top: 6.4rem;
}

.ft-17 {
  font-size: 1.7rem;
}
.ft-18 {
  font-size: 1.8rem;
}
.ft-26 {
  font-size: 2.6rem;
}
.ft-46 {
  font-size: 4.6rem;
}
.ft-48 {
  font-size: 4.8rem;
}
.mr-32 {
  margin-right: 3.2rem;
}
.mt-8 {
  margin-top: 0.8rem;
}
.mt-12 {
  margin-top: 1.2rem;
}
.ml-16 {
  margin-left: 1.6rem;
}
.mt-22 {
  margin-top: 2.2rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-32 {
  margin-top: 3.2rem;
}
.mt-36 {
  margin-top: 3.6rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mt-45 {
  margin-top: 4.5rem;
}
.mt-46 {
  margin-top: 4.6rem;
}
.pr-100 {
  padding-right: 10rem;
}
.pr-50 {
  padding-right: 5rem;
}
.pl-24 {
  padding-left: 2.4rem;
}
.ellipsis-decoration {
  position: absolute;
  top: -5rem;
  right: -12rem;
}
.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700 !important;
}
.secondary-font {
  font-family: "Spline Sans";
}
.satoshi-regular {
  font-family: "Satoshi-Regular";
}
.satoshi-medium {
  font-family: "Satoshi-Medium";
}
.satoshi-semibold {
  font-family: "Satoshi-Semibold";
}
.satoshi-bold {
  font-family: "Satoshi-Bold";
}
.ft-64 {
  font-size: 6.4rem;
}

img {
  display: block;
}

.lh-110 {
  line-height: 110% !important;
}

.lh-115 {
  line-height: 115% !important;
}

.lh-125 {
  line-height: 125% !important;
}

.lh-130 {
  line-height: 130% !important;
}

.lh-140 {
  line-height: 140% !important;
}

.lh-145 {
  line-height: 145% !important;
}

.lh-160 {
  line-height: 160% !important;
}
.o-4 {
  opacity: 0.4;
}
.o-5 {
  opacity: 0.5;
}

.o-8 {
  opacity: 0.8;
}

@media (min-width: 1600px) {
  html {
    font-size: 11.1px;
  }
}

@media (min-width: 1900px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 8.8px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 7.7px;
  }
}

@media only screen and (max-width: 992px) {
  .w-110 {
    width: 100%;
  }
  .w-105 {
    width: 100%;
  }
  h1.hero {
    font-size: 6rem;
  }
  .w-60, .w-50, .w-70 {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .w-110 {
    width: 100%;
  }
  .w-105 {
    width: 100%;
  }
  h1.hero {
    font-size: 5rem;
  }
  .pl-54 {
    padding-left: 3.6rem;
  }
  .pr-54 {
    padding-right: 3.6rem;
  }
  .ml-54 {
    margin-left: 3.6rem;
  }
  .mr-54 {
    margin-right: 3.6rem;
  }
  h2.w-80 {
    width: 100%;
  }
  h2.w-70 {
    width: 100%;
  }
  h2.w-60 {
    width: 100%;
  }
  h2.w-40 {
    width: 100%;
  }
  h3.w-60 {
    width: 100%;
  }
  .ft-102 {
    font-size: 8rem;
  }
  h1.w-80 {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 7.7px;
  }
  h1.hero {
    font-size: 3.4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h2 p {
    font-size: 3rem !important;
  }
  .pl-54 {
    padding-left: 3.6rem;
  }
  .pr-54 {
    padding-right: 3.6rem;
  }
  .ml-54 {
    margin-left: 3.6rem;
  }
  .mr-54 {
    margin-right: 3.6rem;
  }
  h2.w-80 {
    width: 100%;
  }
  h2.w-70 {
    width: 100%;
  }
  h2.w-60 {
    width: 100%;
  }
  .w-80 {
    width: 100% !important;
  }
  .w-70 {
    width: 100% !important;
  }
  .w-50 {
    width: 100% !important;
  }
  h2.w-40 {
    width: 100%;
  }
  h3.w-60 {
    width: 100%;
  }
  .ft-102 {
    font-size: 8rem;
  }
  h1.w-80 {
    width: 100%;
  }
  .carousal-outline-btn {
    margin-bottom: 2rem;
    width: fit-content;
    height: fit-content;
    border: 2px solid #cfcfcf;
    padding: 1rem 1.5rem;
  }
  .carousal-outline-btn svg {
    height: 2rem;
    width: fit-content;
  }
  .carousal-outline-btn:hover {
    border: 2px solid #333;
  }
}
.opacity-80 {
  opacity: 0.8;
}
.ft-72 {
  font-size: 7.2rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-48 {
  margin-top: 4.8rem;
}
.mt-66 {
  margin-top: 6.6rem;
}
.min-width-29 {
  min-width: 29rem;
}
.leading4 {
  line-height: 1.4;
}

@media only screen and (min-width: 360px) and (max-width: 700px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 2000px) {
  html {
    font-size: 12px;
  }
}
.hidden {
  display: none;
}
@media only screen and (min-width: 992px) {
  .lg-block {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .md-block {
    display: block;
  }
}
