{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <link rel="dns-prefetch" href="https://fonts.googleapis.com/" />
        <link rel="dns-prefetch" href="https://www.clarity.ms/tag/" />
        <link rel="dns-prefetch" href="https://www.googletagmanager.com/" />
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}

        {% comment %} <script type="application/ld+json"> {{ page.faq_script }}</script> {% endcomment %}
         
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png'%}"/>
        <link rel="canonical" href={{page.full_url}} />
        <meta name="robots" content="index,follow" />
        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %} 
        <script type="text/javascript">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "md9na917za");
        </script>
        <script type="application/ld+json">
            {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Reckonsys",
            "url": "https://www.reckonsys.com/",
            "logo": "https://www.reckonsys.com/",
            "sameAs": [
                "https://www.instagram.com/reckonsys?igsh=NnZwdzlrZTU3eThs",
                "https://www.linkedin.com/company/reckonsys/"
            ]
            }
        </script>

        
        <!-- Google tag (gtag.js) -->
        {% comment %} <script async src="https://www.googletagmanager.com/gtag/js?id=G-B7P3SS65ZJ"></script> {% endcomment %}
        {% comment %} <script
        type="text/javascript"
        src="https://app.termly.io/resource-blocker/7ebc9ed3-6420-4714-bec9-3cde61220daa?autoBlock=on"></script>  {% endcomment %}
        <script async src='https://www.google.com/recaptcha/api.js?render=6Ldc9-spAAAAAIyosghMB05nLNStmWlCnEuzagPL'></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-B7P3SS65ZJ');
        </script>
        {% block extra_head %}
            
        {% endblock %}
        <meta name="google-site-verification" content="zv7DL6vmJ75FRIGKzXH63lOLaG3UQDJ58d3vfnRKCLo" />
        <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-BQQLR9FPB7"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-BQQLR9FPB7'); </script>
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/container-min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset-min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/satoshi-min.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% block content %}
        {% endblock %}        
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
            

        {% endblock %}
    </body>
        
        
</html>
