{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
         
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png'%}"/>
        <link rel="canonical" href="https://www.reckonsys.com/" />
        <meta name="robots" content="index,follow" />
        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}
        <script>
         (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:4985793,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
         })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        <script type="text/javascript">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "md9na917za");
        </script>
        <script type="application/ld+json">
            {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Reckonsys",
            "url": "https://www.reckonsys.com/",
            "logo": "https://www.reckonsys.com/",
            "sameAs": [
                "https://www.instagram.com/reckonsys?igsh=NnZwdzlrZTU3eThs",
                "https://www.linkedin.com/company/reckonsys/"
            ]
            }
        </script>
        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B7P3SS65ZJ"></script>
<script
  type="text/javascript"
  src="https://app.termly.io/resource-blocker/7ebc9ed3-6420-4714-bec9-3cde61220daa?autoBlock=on"></script>
  <a href="#" class="termly-display-preferences">Consent Preferences</a>
<script async src='https://www.google.com/recaptcha/api.js?render=6Ldc9-spAAAAAIyosghMB05nLNStmWlCnEuzagPL'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-B7P3SS65ZJ');
</script>
{% block extra_head %}
       
    
    {% endblock %}
        <meta name="google-site-verification" content="zv7DL6vmJ75FRIGKzXH63lOLaG3UQDJ58d3vfnRKCLo" />
        <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-BQQLR9FPB7"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-BQQLR9FPB7'); </script>
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/container-min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset-min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/satoshi-min.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
    <div id="smooth-wrapper">
    <div id="smooth-content">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}
        </div>
        </div>
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/reckonsys.js' %}"></script>
        
        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@0.2.28/bundled/lenis.js"></script>
        <script>
        gsap.registerPlugin(ScrollSmoother);
        document.addEventListener("DOMContentLoaded", () => {
    let smoother = ScrollSmoother.create({
  smooth: 2,
  effects: true,
  normalizeScroll: true
});
});
</script>
        <script type="module">
        gsap.registerPlugin(ScrollTrigger);
          document.addEventListener('DOMContentLoaded', function() {

             const elements = document.querySelectorAll('.elementanim');

            elements.forEach(element => {
              gsap.fromTo(element, 
                { opacity: 0, y: 30 }, // Initial state
                {
                    opacity: 1,
                    y: 0,
                    duration: 1,
                    delay: 0,
                    ease: "power2.out",
                    scrollTrigger: {
                        trigger: element,
                        start: 'top 90%',
                        markers: false,
                        toggleActions: 'play none none reset', 
                    }
                }
             );
           });
           import Lenis from '@studio-freight/lenis';

        const lenis = new Lenis({
            duration: 1.2,
            easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)), // Easing function
            direction: 'vertical', // vertical, horizontal
            gestureDirection: 'vertical', // vertical, horizontal, both
            smooth: true,
            mouseMultiplier: 1,
            smoothTouch: false,
            touchMultiplier: 2,
            infinite: false,
        });

        function raf(time) {
            lenis.raf(time);
            requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);
        });
        </script>
        {% endblock %}
    </body>
</html>
