{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags components %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'snippets/navbar.css' %}">
<link rel="stylesheet" href="{% static 'blocks/herosection.css' %}">
<link rel="stylesheet" href="{% static 'component_css/banner.css' %}">
<link rel="stylesheet" href="{% static 'component_css/servicesoffered.css' %}">
<link rel="stylesheet" href="{% static 'component_css/businesshelped.css' %}">
<link rel="stylesheet" href="{% static 'component_css/engagmentmodel.css' %}">
<link rel="stylesheet" href="{% static 'component_css/datasection.css' %}">
<link rel="stylesheet" href="{% static 'component_css/testimonials.css' %}">
<link rel="stylesheet" href="{% static 'component_css/faqsection.css' %}">
<link rel="stylesheet" href="{% static 'snippets/contact.css' %}">
<link rel="stylesheet" href="{% static 'snippets/footer.css' %}">

{% endblock extra_css %}

{% block content %}
{% navbar %}
{{page.body}}
{% include "componentservice/banner.html"%}
{% include "componentservice/servicesoffered.html"%}
{% include "componentservice/businesshelped.html"%}
{% include "componentservice/engagmentmodel.html"%}
{% include "componentservice/datasection.html"%}
{% include "componentservice/testimonials.html"%}
{% include "componentservice/faqsection.html"%}
{% contact %}
{% footer %}
{% endblock content %}